<div class="panel panel-default " id="email-verification">
  <div class="panel-heading">
    <span class="float-end">
      <button class="edit-button" (click)="openAddUsageReportModal(affiliate)"> <span><i class="fa fa-plus" aria-hidden="true"></i> {{ 'views.usageReports.newReport' | translate | compareText:'New Report' }}</span></button>
    </span>
    <h3 class="panel-title">
      <span>{{ 'global.menu.usageReports' | translate | compareText:'Usage Reports' }}</span>
      <button (click)="viewUsageReports()" *ngIf="showViewAll" class="btn btn-link btn-xs">
        <span> {{ 'global.word.viewAll' | translate | compareText:'View All' }}</span> <i class="fa fa-angle-double-right"></i>
      </button>
    </h3>
  </div>
  <div class="table-responsive">
    <table class="table table-hover" aria-label="usage-reports">
      <thead>
        <tr >
          <th>{{ 'views.usageReports.reportDate' | translate | compareText:'Report Date' }}</th>
          <th *ngIf="showAllColumns">{{ 'views.usageReports.usageType' | translate | compareText:'Usage Type' }}</th>
          <th *ngIf="showAllColumns">{{ 'global.word.status' | translate | compareText:'Status' }}</th>
          <th *ngIf="showAllColumns">{{ 'views.usageReports.countries' | translate | compareText:'Countries' }}</th>
          <th >{{ 'views.usageReports.hospitals' | translate | compareText:'Hospitals' }}</th>
          <th >{{ 'views.usageLog.institutions.practices' | translate | compareText:'Practices' }}</th>
        </tr>
      </thead>
      <tbody class="language-option">
        <tr *ngFor="let usageReport of affiliate?.commercialUsages | dateSort: 'startDate': 'desc'">
          <td [ngClass]="{'text-muted': usageReport.effectiveTo}">
            <span class="btn-link" (click)="navigateToUsageReport(usageReport)">
              <span *ngIf="usageReport.effectiveTo" class="text-muted">
                <i class="fas fa-minus-square"></i>
              </span>
              <span [ngClass]="{'text-muted': usageReport.effectiveTo}">
                {{usageReport.startDate | date: 'yyyy-MM'}} - {{usageReport.endDate | date: 'yyyy-MM'}}
              </span>
            </span>
          </td>
          <td *ngIf="showAllColumns">
            <span class="btn-link" (click)="navigateToUsageReport(usageReport)">
              <span [ngClass]="{'text-muted': usageReport.effectiveTo}">
                {{ usageReport.type ? ('affiliate.type.' + usageReport.type | translate) : '' }}
              </span>
            </span>
          </td>
          <td *ngIf="showAllColumns">
            <span class="btn-link" (click)="navigateToUsageReport(usageReport)">
              <span [ngClass]="{'text-muted': usageReport.effectiveTo}">
                {{ 'usageReport.state.' + usageReport.state | translate}}
              </span>
            </span>
          </td>
          <td *ngIf="showAllColumns">
            <span class="btn-link" (click)="navigateToUsageReport(usageReport)">
              <span [ngClass]="{'text-muted': usageReport.effectiveTo}">
                {{usageReportsUtils.usageReportCountries(usageReport) | number}}
              </span>
            </span>
          </td>
          <td>
            <span class="btn-link" (click)="navigateToUsageReport(usageReport)">
              <span [ngClass]="{'text-muted': usageReport.effectiveTo}">
                {{usageReportsUtils.usageReportHospitals(usageReport) | number}}
              </span>
            </span>
          </td>
          <td>
            <span class="btn-link" (click)="navigateToUsageReport(usageReport)">
              <span [ngClass]="{'text-muted': usageReport.effectiveTo}">
                {{usageReportsUtils.usageReportPractices(usageReport) | number}}
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>