.panel-heading {
    padding: 15px 0;
    border-bottom: 4px solid #8dccdc;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 4px solid #eeeeee;
    padding-right: 5px;
    text-align: left;
    background-color: #ffffff;
    font-weight: 400;
}

.btn-link {
    color: #40ACD6;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
}

.edit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #3cb878;
    white-space: nowrap;
    padding: 1px 8px;
    font-size: 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #3cb878;
    background-color: #ffffff;
    border-color:  #3cb878;
    border-top-left-radius: 10px;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
  }
  
  .edit-button:hover {
    background-color:  #3cb878;
    color: #ffffff;
  }

  h1 {
    font-size: 3rem;
    font-weight: 300;
    padding-top: 6rem;
   
}
#email-verification{
    padding-bottom: 15rem;
}
#welcome{
    border-bottom: 4px solid #8dccdc;
}
.pad{
    padding-top: 10rem;
}
