.btn-link {
    color: #40ACD6 !important;
    font-weight: normal !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    text-decoration: none !important;
}
 
.btn-link:hover {
    color: #40ACD6 !important;
    font-weight: normal !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    text-decoration: underline !important;
}