.panel-default > .panel-heading {
    color: #00a7e1;
    background-color: #ffffff;
    border-color: none;
}

.panel-heading {
    padding: 15px 0;
    border-bottom: 4px solid #8dccdc;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #333333;
}
.name{
    color: #434A55;
    font-size: 14px;
    line-height: 1.42857143;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: "Oxygen", sans-serif;
    word-wrap: break-word;
}
.pull-right{
    float:right;
    color: #434A55;
}
.collapse.show {
    display: block;
}
.panel-body {
    border: 1px solid #eeeeee;
    padding: 15px;
}
.font{
    font-size: 19px;
    font-family: "Oxygen", sans-serif;
    word-wrap: break-word;
    line-height: 1.42857143;
    padding-bottom: 10px;
    font-weight: bold;
    color: #434A55;
}
  .country-heading {
    margin-top: 5px;
    border-top: 2px solid #8dccdc;
    padding: 10px 0 15px;
    display: flex;
}
.green-button {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #3cb878;
    white-space: nowrap;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #3cb878;
    background-color: #ffffff;
    border-color:  #3cb878;
    border-top-left-radius: 10px;

    font-family: inherit;

    overflow: visible;
    text-transform: none;

  }
  
  .green-button:hover {
    background-color:  #3cb878;
    color: #ffffff;
  }   
.add-country-button{
    padding-top: 10px;
}
.selectpicker {
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 16px 12px 4px;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
.selectpicker option {
    padding: 11px 5px;
    min-height: 30px;
    font-weight: normal;
    line-height: 1.42857;
    border-bottom: 1px solid #eeeeee;
}
[ng-click]:not([modal-window]) {
    cursor: pointer;
}

.country-heading .btn {
    margin-top: 10px;
}

.remove-button {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #f26c4f;
    white-space: nowrap;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #f26c4f;
    background-color: #fde3dd;;
    border-color:  #f26c4f;
    border-top-left-radius: 10px;

    font-family: inherit;

    overflow: visible;
    text-transform: none;

  }
  
  .remove-button:hover {
    background-color:  #f26c4f;
    color: #ffffff;
  } 
  .add-button {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #3cb878;
    white-space: nowrap;
    padding: 4px 9px;
    font-size: 11px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #3cb878;
    background-color: #ffffff;
    border-color:  #3cb878;
    border-top-left-radius: 10px;

    font-family: inherit;

    overflow: visible;
    text-transform: none;

  }
  
  .add-button:hover {
    background-color:  #3cb878;
    color: #ffffff;
  }   

  
  .blue-button {
    float: inline-end;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #00a7e1;
    white-space: nowrap;
    padding: 4px 9px;
    font-size: 11px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #00a7e1;
    background-color: #ffffff;
    border-color:  #00a7e1;
    border-top-left-radius: 10px;

    font-family: inherit;

    overflow: visible;
    text-transform: none;

  }
  
  .blue-button:hover {
    background-color:  #00a7e1;
    color: #ffffff;
  }  
  .btn-warning:hover {
    color: #ffffff;
    background-color: #ee3c16;
    border-color: #ee3c16;
}

.btn-warning {
  
    color: #f26c4f;
    background-color: #fde3dd;
    border-color: #f26c4f;
    border-top-left-radius: 10px;
}
.alert-warning,
.alert-danger {
    background-color: #ffffff;
    border-color: #f26c4f;
    color: #f26c4f;
}
.btn {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid  #f26c4f;
  white-space: nowrap;
  padding: 6px 10px;
  font-size: 15px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:  #f26c4f;
  background-color: #fde3dd;;
  border-color:  #f26c4f;
  border-top-left-radius: 10px;

  font-family: inherit;

  overflow: visible;
  text-transform: none;

}
.bg-info {
  --bs-bg-opacity: 1;
}