<div class="navbar navbar-fixed-top" role="admin">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <span>SNOMED INTERNATIONAL</span>
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                            <span class="hidden-tablet">Language</span><b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="en">
                            <a href="">
                                <span class="famfamfam-flag-gb"></span> &nbsp;<span>English</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="famfamfam-flag-th"></span> &nbsp;<span>Thai</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
