<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button> -->
        
            <a [href]="isAuthenticated ? '/dashboard' : '#'">
                <span *ngIf="memberLogo">
                  <img class="img-responsive" [src]="memberLogo" alt="member-logo">
                </span>
                <span *ngIf="!memberLogo">
                  <img class="img-responsive" src="assets/logo.png" alt="ihtsdo-logo">
                </span>
              </a>
              
            <!-- <div class="brand">{{ memberName }}</div> -->
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul id="topNav" class="nav navbar-nav navbar-right">

                <!-- Home link when user is not authenticated -->
                <li *ngIf="!isAuthenticated">
                    <a routerLink="/"> <span >{{'global.menu.home' | translate | compareText:'Home'}}</span></a>
                </li>
                
                <!-- Dashboard link when user is authenticated -->
                <li *ngIf="isAuthenticated">
                    <a routerLink="/dashboard"> <span>{{'global.menu.dashboard' | translate | compareText: 'Dashboard'}}</span></a>
                </li>
  

                <!-- Usage Reports Link -->
                <li *ngIf="isAuthenticated">
                    <a routerLink="/usageReports">
                        <span>{{'global.menu.usageReports' |translate | compareText: 'Usage Reports'}}</span>
                    </a>
                </li>

                <!-- Release Packages Link -->
                <li>
                    <a routerLink="/viewReleases">
                        <span>{{'global.menu.releasePackages' |translate | compareText: 'Release Packages'}}</span>
                    </a>
                </li>

                <li ngbDropdown class="dropdown pointer">
                    <a ngbDropdownToggle class="dropdown-toggle" href="javascript:void(0);">
                      <span>
                        <span class="hidden-tablet" >{{'global.menu.language'|translate | compareText:'Language'}}</span>
                        <b class="caret"></b>
                      </span>
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu">
                      <li *ngFor="let lang of languages" class="dropdown-item" (click)="changeLanguage(lang.key)">
                        <span class="famfamfam-flag-{{ lang.flag }}"></span> &nbsp;
                        <span [translate]="'global.language.' + lang.key">{{ lang.name }}</span>
                      </li>
                    </ul>
                  </li>
                  
                <li ngbDropdown class="nav-item dropdown pointer " *ngIf="isUser">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="userDropdown">
                      <span>
                        <i class="fa fa-user"></i> {{ firstName }} {{ lastName }}
                        <b class="caret"></b>
                      </span>
                    </a>
                    <ul ngbDropdownMenu aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu width">
                      <li class="dropdown-item">
                        <a routerLink="/contactInfo" class="nav-link">{{'global.menu.affiliate.accountInformation' | translate | compareText: 'Account Information'}}</a>
                      </li>
                      <li class="dropdown-item">
                        <a routerLink="/password" class="nav-link">{{'global.menu.affiliate.changePassword' | translate | compareText : 'Change Password'}}</a>
                      </li>
                      <li class="dropdown-item">
                        <a routerLink="/logout" class="nav-link">{{'global.menu.affiliate.logout' | translate | compareText: 'Log out'}}</a>
                      </li>
                    </ul>
                  </li>
                  
                <!-- Login Link -->
                <li *ngIf="!isAuthenticated">
                    <a routerLink="/login">
                        {{'global.menu.account.login' | translate | compareText : 'Login'}}
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
