
<div class="panel panel-default release-package package">
    <div class="panel-heading status">
        <span *ngIf="releaseVersion.releaseType !== 'online'" class="alert-danger-flag pull-right">{{ releaseVersion.releaseType === 'alpha/beta' ? 'Alpha/Beta' : 'Offline' }}</span>

        <div class="status">
            <h3 class="panel-title panel-titles">{{ releaseVersion.name }}</h3>
        </div>
    </div>
    <div class="panel-body">
        <p [innerHTML]="releaseVersion.description"></p>
        <span>
            <b><span>{{ 'global.word.publishedOn' | translate | compareText : 'Published On' }}</span>:</b> 
            {{ releaseVersion.publishedAt | date: 'yyyy-MM-dd' }}
        </span>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-2">
                <span class="version-title"><b><span>{{ 'global.word.file' | translate | compareText : 'File' }}</span>:</b></span>
            </div>
            <div class="col-md-10">
                <div *ngFor="let releaseFile of releaseVersion.releaseFiles" style="display: flex;">
                    <i class="fa fa-file"></i>&nbsp;
                    <button class="btn btn-link disabled no-padding" 
                            [attr.disabled]="!releaseFile.clientDownloadUrl ? true : null"
                            *ngIf="!releaseFile.clientDownloadUrl">{{releaseFile.label | removeHtml}}
                    </button>
                    <a *ngIf="releaseFile.clientDownloadUrl" 
                       [href]="releaseFile.clientDownloadUrl" 
                       target="_blank" 
                       aria-label="Download" >
                       {{releaseFile.label | removeHtml}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
