h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 82px;
    margin-bottom: 10px;
}

h2{
    padding-top: 20px;
    font-size: 3.4rem;
    font-weight: 400;
}
.btn-btn-default{
    color: #00a7e1;
    background-color: #ffffff;
    border-color: transparent;
    border-top-left-radius: 10px;
}

.custom-btn {
    margin-left: 10px;
    background-color: #00a7e1; /* Initial background color */
    color: black; /* Initial text color */
    border: none; /* Remove border */
    // padding: 10px 20px; /* Button padding */
    font-size: 14px; /* Button font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
.form-control {
    font-size: 1.4rem;
    border: 1px solid;
    width: 25%;
}
label {
    font-size: 1.5rem;
    font-weight: bold;
}
.form-group {
    display: flex;
    align-items: center;
}
.custom-btn:hover {
    background-color: #00a7e1; /* Background color on hover */
    color: white; /* Text color on hover */
}

.custom-btn:focus, 
.custom-btn:active {
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove box-shadow */
}

[ng-click]:not([modal-window]) {
    cursor: pointer;
}
.btn-danger {
    color: #f05837;
    background-color: #fde3dd;
    border: 2px solid #f26c4f;
    border-top-left-radius: 10px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
}

.btn:hover {
    background-color: #f05837; /* Keep the background color the same on hover */
    color: white; /* Change the text color to red on hover */
    border-color: #f26c4f; /* Optionally, adjust the border color on hover */
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
   
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}
/* Form and table styling */
.form-inline {
    margin-bottom: 20px; /* Space below the form */
}



.form-group label {
    margin-right: 10px; /* Space between label and input */
}



.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    flex: 1;
}

.input-group-append {
    margin-left: 10px; /* Space between input and button */
}

.table-responsive {
    margin-top:-13px; /* Space above the table */
}

.table th, .table td {
    padding: 12px; /* Padding inside table cells */
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #fffffe;
  }

.alert-warning {
    background-color: #ffffff;
    border-color: #f26c4f;
    color: #f26c4f;
}
.alert {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #f26c4f;
    border-radius: 4px;
}
.table tr {
    border-bottom: 1px solid #eeeeee;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 4px solid #eeeeee;
    padding-right: 5px;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    background-color: #ffffff;
    font-weight: 400;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.csv-button{
    margin-left: 10px;
    padding: 2px 12px;
}