<div class="row rows">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Blocklist Domains</h2>
    </div>
    <form class="form-inline rows" (ngSubmit)="newDomainSubmit()">
      <div class="form-group">
        <label><b>Add to Blocklist</b></label>&nbsp;&nbsp;
        <input type="text" class="form-control" [(ngModel)]="domainForm.name" name="domainName" required>&nbsp;
        <button type="submit" class="csv-button">Add</button>
      </div>
    </form>

    <div class="table-responsive space">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        
          <tr *ngFor="let domain of domainBlacklist">
            <td>{{ domain.domainname }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeDomain(domain.domainname)">
                <i class="fa fa-times"></i> Remove Domain
              </button>
            </td>
          </tr>
        </tbody>
        
      </table>
    <div class="alert alert-warning" *ngIf="domainBlacklist.length === 0">
              <i class="fa fa-exclamation-circle"></i> &nbsp;No domains in the blocklist.
    </div>    
    </div>
  </div>
</div>
