<app-modal
  [title]="'Edit Release'"
  [submitText]="'Update'"
  [cancelText]="'Cancel'"
  [alerts]="alerts"
  [isSubmitting]="submitting"
  [formGroup]="formPackage"
  (onSubmit)="onSubmit()"
  (onCancel)="cancel()"
>
  <ng-container>

    <div class="form-group">
      <label for="name">Name<span class="text-danger">*</span></label>
      <input class="form-control" placeholder="Enter Release Name" formControlName="name">
      <div *ngIf="formPackage.get('name')?.invalid && submitAttempted" class="help-block">
        Required Field
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <quill-editor id="Description" formControlName="description" [style]="{'height': '200px','width':'780px'}"></quill-editor>
    </div>

    <div class="form-group" *ngIf="isAdmin">
      <label for="member">Member</label>
      <select class="form-control" formControlName="member">
        <option *ngFor="let m of members" [ngValue]="m">{{m.key | enum:'global.member.'| async}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="releasePackageURI">Release Package URI</label>
      <input class="form-control" placeholder="Enter Release Package URI" formControlName="releasePackageURI">
    </div>

    <div class="form-group">
      <label for="copyrights">Copyrights</label>
      <textarea class="form-control" rows="3" formControlName="copyrights"></textarea>
    </div>
  </ng-container>
</app-modal>
