<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-justified">
                    <li><a id="copyright" rel="noopener" href="http://www.snomed.org" target="_blank">Copyright © {{ currentYear }} SNOMED International</a></li>
                    <li>
                        <a rel="noopener" href="https://confluence.ihtsdotools.org/display/MLDSDOC/Member+Licensing+and+Distribution+Service+Documentation" target="_blank"> <span >{{'global.menu.help' | translate | compareText: 'Help'}}</span></a>
                    </li>
                    <li>
                        <a rel="noopener" href="https://confluence.ihtsdotools.org/display/MLDSDOC/MLDS+Terms+of+Service" target="_blank" >{{'views.footer.tos' | translate | compareText:'Terms of Service'}}</a>
                    </li>
                    <li>
                        <a rel="noopener" href="https://confluence.ihtsdotools.org/display/MLDSDOC/MLDS+Privacy+Policies" target="_blank" >{{ 'global.menu.privacyPolicy'| translate | compareText:'Privacy Policy'}}</a>
                    </li>
                    <li>
                        <a rel="noopener" href="http://www.snomed.org/contact-us/" target="_blank" >{{ 'views.footer.contact'| translate | compareText:'Contact us'}}</a>
                    </li>
                    <li>
                        <a rel="noopener" href="https://www.snomed.org/snomed-in-action" target="_blank" >{{'views.footer.register'| translate | compareText:'Register your deployment'}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1">
            </div>
            <!-- to be modified when countries go live -->
            <div class="col-md-3">
                <ul class="nav nav-justified">
                </ul>
            </div>
        </div>
        <hr>
            <div class="col-md-12">
                    <ul class="nav nav-justified">
                    <li>
                      <a href="/#/landing/IHTSDO?lang=en">
                        <img class="img-responsive" src="assets/small_logo.png" style="display:inline-block;line-height:20px;height:20px;">
                      </a>
                    </li>
                  
                    <li *ngFor="let member of members">
                      <a [href]="getMemberLandingPage(member)">
                        <span [ngClass]="'famfamfam-flag-' + member.key.toLowerCase()"></span>&nbsp;
                      </a>
                    </li>
                  </ul>
                  
            </div>
        <hr>
    </div>
</footer>
