.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 46px;
    padding-right: 15px;
    height: 25px;    
}

.navbar[role=admin] {
    background-color: #eeeeee;
    border-bottom: 3px solid #8dccdc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* position: fixed; */
    /* width: -webkit-fill-available; */
}

body {
    padding-top: 60px; /* Adjust based on the height of your navbar */
}

.content {
    padding-top: 60px; /* To avoid content being overlapped by the fixed header */
}

/* Ensure the dropdown menu is positioned correctly */
.nav-item {
    position: relative;
  }
  
  .dropdown-menu {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    right: 0; /* Align to the right */
    left: auto; /* Disable left alignment */
    border: none; /* Remove border */
  }
  
  /* Style dropdown items */
  .dropdown-item {
    color: #fff; /* White text */
  }
  
  .dropdown-item:hover {
    background-color: #333; /* Lighter black on hover */
  }
  
  /* Ensure caret is visible */
  .caret {
    border-color: #fff transparent transparent transparent; /* White caret */
  }
  