<div class="navbar navbar-fixed-top" role="admin">
    <div class="container-fluid">
      <div class="navbar-header">
      
        <a class="navbar-brand" [routerLink]="[routes.pendingApplications]">
          <span *ngIf="session?.member">{{ session.member.key | enum:'global.member.' | async }}</span>
  
          <span *ngIf="!session?.member">{{ 'global.member.IHTSDO' | translate }}</span>
      </a>
      
      </div>
  
      <!-- Use ngbDropdown for language selection -->
      <ul ngbDropdown>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            <span>
              <span class="hidden-tablet">
                {{ 'global.menu.language' | translate | compareText: 'Language' }}
              </span><b class="caret"></b>
            </span>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li ngbDropdownItem>
              <a class="dropdown-item" href="javascript:void(0)" (click)="changeLanguage('en')">
                <span class="famfamfam-flag-gb"></span> &nbsp;<span>{{ 'global.language.en' | translate }}</span>
              </a>
            </li>
            <li ngbDropdownItem>
              <a class="dropdown-item" href="javascript:void(0)" (click)="changeLanguage('th')">
                <span class="famfamfam-flag-th"></span> &nbsp;<span>{{ 'global.language.th' | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  