<app-modal
  [title]="'Edit ' + ('global.member.' + member.key | translate) + ' Feed Data'"
  [submitText]="'Update'"
  [cancelText]="'Cancel'"
  (onSubmit)="onSubmit()"
  (onCancel)="activeModal.dismiss()"
  [formGroup]="memberFeedForm">
  
  <ng-container>
    <div class="form-group">
      <label for="memberOrgName">Name of the Member Organization</label>
      <input id="memberOrgName"
             class="form-control"
             type="text"
             placeholder="Enter Member Organization Name"
             formControlName="memberOrgName">
    </div>
    <div class="form-group">
      <label for="memberOrgURL">URL of the Member Organization</label>
      <input id="memberOrgURL"
             class="form-control"
             type="text"
             placeholder="Enter Member Organization URL"
             formControlName="memberOrgURL">
    </div>
    <div class="form-group">
      <label for="contactEmail">Contact email of the Member Organization</label>
      <input id="contactEmail"
             class="form-control"
             type="email"
             placeholder="Enter Contact email of the Member organization"
             formControlName="contactEmail">
      
      <div *ngIf="memberFeedForm.get('contactEmail')?.errors?.['email']" class="help-block">
        Invalid email address
      </div>
    </div>
  </ng-container>
</app-modal>
