
.sidebar {
    padding-top: 18px;
    position: fixed;
    top: 62px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 260px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333333;
    border-right: 1px solid #EEE;
    color: #a19f9f;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #ddd;
}


.main-content {
    margin-left: 250px;
    padding: 20px;
    z-index: 1; 
    overflow: visible;
}


.footer-space {
    margin-top: 20px; 
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }