<app-modal
  [title]="'Edit ' + releasePackage.name + ' License'"
  [alerts]="alerts"
  [cancelText]="submitStatus.submitSuccessful ? 'Close' : 'Cancel'"
  [submitText]="submitStatus.submitSuccessful ? '' : 'Upload'"
  [isSubmitting]="submitStatus.submitting"
  (onCancel)="activeModal.dismiss()"
  (onSubmit)="submit()">

  <ng-container modal-body>
    <div class="form-group">
      <label for="licenseFile">License File</label><br>
      <input type="file" id="licenseFile" (change)="onFileChange($event)" [disabled]="submitStatus.submitSuccessful"/>
    </div>
  </ng-container>

</app-modal>
