<div class="modal-header">
   
    <h3 class="modal-title">Edit {{ releasePackage.name }} License</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div *ngFor="let alert of alerts" class="alert" [ngClass]="'alert-' + alert.type">     
      {{ alert.msg }}
      <button type="button" class="btn-close" (click)="closeAlert(alert)"></button>
    </div>
    <form>
      <div class="form-group">
        <label for="licenseFile">License File</label><br>
        <input type="file" id="licenseFile" (change)="onFileChange($event)" [disabled]="submitStatus.submitSuccessful"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" (click)="activeModal.dismiss()">Cancel</button>
    <button class="btn btn-success" [disabled]="submitStatus.submitting" *ngIf="!submitStatus.submitSuccessful" (click)="submit()">
      <i class="fa fa-upload"></i>
      Upload
      <span *ngIf="submitStatus.submitting"><i class="fa fa-spinner fa-spin"></i></span>
    </button>
    <button class="btn btn-success" (click)="activeModal.close()" *ngIf="submitStatus.submitSuccessful">Close</button>
  </div>
  