<app-modal
  [title]="'Confirm Deletion'"
  [submitText]="'Yes'"
  [cancelText]="'No'"
  [alerts]="alerts"
  [isSubmitting]="submitting"
  (onSubmit)="ok()"
  (onCancel)="cancel()">

  <ng-container modal-body>
    <p>Please verify that you have selected the correct version to delete:</p>

    <div class="info-row">
      <label for="packageName"><strong>Package Name:</strong></label>
      <span>{{ releasePackage.name }}</span>
    </div>

    <div class="info-row">
      <label for="packageVersion"><strong>Package Version:</strong></label>
      <span>{{ releaseVersion.name }}</span>
    </div>
  </ng-container>

</app-modal>
