<app-modal
  [title]="'views.applicationSummary.title' | translate | compareText: 'Application Summary'"
  [alerts]="alerts"
  [cancelText]="'global.word.cancel' | translate | compareText: 'Cancel'"
  [submitText]="'global.word.ok' | translate | compareText: 'OK'"
  [isSubmitting]="submitting"
  (onCancel)="activeModal.dismiss()"
  (onSubmit)="activeModal.close()">

  <ng-container modal-body>
    <app-application-summary-block [application]="application"></app-application-summary-block>
  </ng-container>

</app-modal>
