<app-modal
  [title]="'views.usage.modal.title' | translate | compareText:'Create Usage Declaration'"
  [formGroup]="addRangeForm"
  [submitText]="'global.word.add' | translate | compareText:'Add'"
  [cancelText]="'global.word.cancel' | translate | compareText:'Cancel'"
  [isSubmitting]="submitting"
  (onSubmit)="add()"
  [iconClass]="'fa fa-plus'"
  (onCancel)="cancel()"
>
  <div class="modal-body">
    <div *ngFor="let alert of alerts; let i = index" class="alert alert-{{ alert.type }}" role="alert">
      {{ alert.msg }}
      <button type="button" class="close" aria-label="Close" (click)="closeAlert(i)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <p>{{ 'views.usage.modal.instructions' | translate | compareText:'Please complete your usage declaration for all time periods. Please include reports for past and current use.' }}</p>

    <form [formGroup]="addRangeForm" (ngSubmit)="add()">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="selectedRange" style="font-weight: bold;">{{ 'views.usage.modal.period' | translate | compareText:'Declaration Period' }}</label>
          <select id="selectedRange" formControlName="selectedRange" class="form-select">
            <option *ngFor="let range of ranges" [ngValue]="range">
              {{ range?.startDate | date: 'yyyy-MM' }} - {{ range?.endDate | date: 'yyyy-MM' }}
            </option>
          </select>
          <div *ngIf="addRangeForm.get('selectedRange')?.invalid && addRangeForm.get('selectedRange')?.touched" class="text-danger">
            Please select a declaration period.
          </div>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <ng-template #modalFooter>
    <button class="btn-link" (click)="cancel()" [disabled]="submitting">{{ 'global.word.cancel' | translate | compareText:'Cancel' }}</button>
    <button class="edit-button" (click)="add()" [disabled]="submitting || addRangeForm.invalid">
      <i class="fa fa-plus"></i> {{ 'global.word.add' | translate | compareText:'Add' }}
      <span *ngIf="submitting"><i class="fa fa-spinner fa-spin"></i></span>
    </button>
  </ng-template>
</app-modal>
