<div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>{{'views.postAnnouncement.title' | translate| compareText: 'Post Announcement'}}</h2>
      </div>
    </div>
  </div>
  
  <div class="row">
    <form [formGroup]="announcementForm" (ngSubmit)="postAnnouncement()">
  
      <div class="col-md-12">
        <h3>{{'views.postAnnouncement.messageContent' | translate | compareText: 'Message Content'}}</h3>
  
        <div class="form-group">
          <label><b>{{'views.postAnnouncement.emailSubject' | translate | compareText: 'Email Subject'}}<span class="text-danger">*</span></b></label>
          <input class="form-control"
            formControlName="subject"
            required 
            [disabled]="completed">
          <span *ngIf="announcementForm.get('subject')?.invalid && announcementForm.get('subject')?.touched" class="help-block">{{'form.requiredField' | translate }}</span>
        </div>
  
        <div class="form-group">  
          <label for="body"><b>{{'views.postAnnouncement.emailBody' | translate | compareText:'Email Body'}}<span class="text-danger">*</span></b></label><br>
          <quill-editor id="body" formControlName="body"  [style]="{'height': '200px'}"></quill-editor><br>
         
          <span class="help-block">{{'views.postAnnouncement.salutationMessage' | translate |compareText: 'Remember to add a salutation and valediction to the email body.'}}</span>
          <span *ngIf="announcementForm.get('body')?.invalid && announcementForm.get('body')?.touched" class="help-block"> {{'form.requiredField' | translate }}</span>
        </div>
      </div>
  
      <div class="col-md-12">
        <h3>{{'views.postAnnouncement.audience' |translate| compareText: 'Audience'}}</h3>
        
        <div class="form-group">
          <label><b>{{'views.postAnnouncement.affiliates' | translate |compareText: 'Affiliates'}}</b></label>
          <div *ngIf="isAdmin">
            <select formControlName="includeAllAffiliates">
              <option value="0" selected><span><b>My Affiliates</b></span> (<b>{{memberKey | enum:'global.member.'|async}}</b>)</option>
              <option value="1"><b> {{'views.postAnnouncement.allAffiliates' |translate | compareText:  'All Affiliates'}} </b></option>
            </select>
          </div>
          <div *ngIf="!isAdmin">
            <div><span><b>{{'views.postAnnouncement.myAffiliates' |translate |compareText: 'My Affiliates'}}</b></span> <b>({{memberKey | enum:'global.member.'|async}})</b></div>
          </div>
          <div>
            <span class="help-block">
              {{ 'views.postAnnouncement.affiliatesClarification' | translate | compareText: 'Approved affiliates with an account standing of:' }}
              {{ 'affiliate.standingState.IN_GOOD_STANDING' | translate | compareText: 'In Good Standing' }},
              {{ 'affiliate.standingState.PENDING_INVOICE' | translate | compareText: 'Pending Invoice' }},
              {{ 'affiliate.standingState.INVOICE_SENT' | translate | compareText: 'Invoice Sent' }},
              {{ 'affiliate.standingState.DEACTIVATION_PENDING' | translate | compareText: 'Deactivation Pending' }}.
            </span>
          </div>
          
        </div>

        <div class="form-group">
          <label><b>{{'views.postAnnouncement.additionalEmails' | translate | compareText: 'Additional Email Addresses'}}</b></label>
          
          <!-- Binding input to FormControl using formControlName -->
          <input
            class="form-control"
            formControlName="emailListString"
            [disabled]="completed"
          />
          <span class="help-block">
           {{'views.postAnnouncement.additionalEmailsHelp' |translate |compareText: 'Send the announcement to additional email addressses.'}}
          </span>
        </div>
        
      </div>
 <br> 
      <div class="col-md-12">
        <div class="button-group">
          <button class="upload-button" 
          
          (click)="announcementForm.markAllAsTouched()"
          *ngIf="!completed">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      {{'views.postAnnouncement.post' | translate |compareText: 'Post Announcement'}}
      <span *ngIf="submitting"><i class="fa fa-spinner fa-spin"></i></span>
  </button> 
          <!-- Disabled Post Announcement Button -->
          <button class="upload-button" 
                  [disabled]="true" 
                  *ngIf="completed">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            {{'views.postAnnouncement.post' | translate |compareText: 'Post Announcement'}}
            <span *ngIf="submitting"><i class="fa fa-spinner fa-spin"></i></span>
          </button>
      
          <!-- New Announcement Button -->
          <button class="upload-button" 
                  *ngIf="completed" 
                  (click)="newAnnouncement()">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            {{'views.postAnnouncement.newAnnouncement' | translate |compareText: 'New Announcement'}}
          </button>
        </div>
      </div>
      
      
      
      
      
      <div class="col-md-12">
        <div class="alert space" 
          *ngFor="let alert of alerts" 
          [ngClass]="'alert-' + alert.type">
          {{alert.msg}}
          <button type="button" class="close" (click)="closeAlert(alert)">
            &times;
          </button>
        </div>
      </div>
  
    </form>
  </div>
  