<app-modal
  [title]="isNewObject ? 'Add Release Version' : 'Edit Release Version'"
  [formGroup]="releaseVersionForm"
  [submitText]="'Save'"
  [cancelText]="'Cancel'"
  [isSubmitting]="submitting"
  (onSubmit)="saveReleaseVersion()"
  (onCancel)="activeModal.dismiss()">

  <div class="form-group">
    <label for="name">Name<span class="text-danger">*</span></label>
    <input  #nameInput class="form-control" placeholder="Enter Version Name" formControlName="name">
    <div *ngIf="isControlInvalid('name')" class="help-block">Required Field</div>
  </div>

  <div class="form-group">
    <label for="desc">Description<span class="text-danger">*</span></label>
    <quill-editor id="description" formControlName="description" [style]="{'height': '200px','width':'780px'}" bounds="self"></quill-editor>
    <div *ngIf="isControlInvalid('description')" class="help-block">Required Field
    </div>
  </div>

  <div class="form-group">
    <label for="packageType">Package Type<span class="text-danger">*</span></label>
    <select class="form-select" formControlName="packageType">
      <option value="">Select Package Type</option>
      <option value="SCT_RF2_ALL">SNOMED CT RF2 All</option>
      <option value="SCT_RF2_SNAPSHOT">SNOMED CT RF2 Snapshot</option>
      <option value="SCT_RF2_FULL">SNOMED CT RF2 Full</option>
      <option value="OTHER">Other Package</option>
    </select>
    <div *ngIf="isControlInvalid('packageType')" class="help-block">Required Field
    </div>
  </div>

  <div class="form-group">
    <label for="summary">Summary</label>
    <input class="form-control" placeholder="Summary About this Version" formControlName="summary">
  </div>

  <div class="form-group">
    <label for="releaseVersionURI">Release Version URI<span class="text-danger">*</span></label>
    <input class="form-control" [placeholder]="versionUriPlaceholder()" formControlName="versionURI">
    <div *ngIf="isControlInvalid('versionURI', 'required')" class="help-block">Required Field</div>
    <div *ngIf="isControlInvalid('versionURI', 'pattern')" class="help-block">{{versionUriError()}}</div>
  </div>

  <div class="form-group">
    <label for="releaseVersionDependentURI">Release Version Dependent URI</label>
    <input class="form-control" placeholder="http://snomed.info/sct/<moduleId>/version/<YYYYMMDD>"
      formControlName="versionDependentURI">
    <div *ngIf="isControlInvalid('versionDependentURI', 'pattern')" class="help-block">Must be a SNOMED CT version URI, e.g. http://snomed.info/sct/32506021000036107/version/20260601 (scheme must be http, not https)</div>
  </div>

  <div class="form-group">
    <label for="releaseVersionDDURI">Release Version Dependent Derivative URI</label>
    <input class="form-control" placeholder="http://snomed.info/sct/<moduleId>/version/<YYYYMMDD>"
      formControlName="versionDependentDerivativeURI">
    <div *ngIf="isControlInvalid('versionDependentDerivativeURI', 'pattern')" class="help-block">Must be a SNOMED CT version URI, e.g. http://snomed.info/sct/32506021000036107/version/20260601 (scheme must be http, not https)</div>
  </div>

  <div class="form-group">
    <label for="releaseType">Release Type<span class="text-danger">*</span></label>
    <select class="form-select" formControlName="releaseType" [ngClass]="{ 'disabled-select': isArchivePage }">
      <option value="">Select Release Type</option>
      <option value="online">Online</option>
      <option value="offline">Offline</option>
      <option value="alpha/beta">Alpha/Beta</option>
    </select>
    <div *ngIf="isControlInvalid('releaseType')" class="help-block">Required Field
    </div>
  </div>

  <div class="form-group">
    <label for="publishedAt">Release Date<span class="text-danger">*</span></label>
    <div class="input-group datepicker">
      <input id="publishedAt" class="form-control" type="text" formControlName="publishedAt" ngbDatepicker
        #d="ngbDatepicker" placeholder="yyyy-mm-dd" />
      <button class="input-group-text" (click)="d.toggle()" type="button">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>

</app-modal>
