.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    font-family: "Oxygen", sans-serif;
    word-wrap: break-word;
}

.panel-body {
    border: 1px solid #eeeeee;
    padding: 15px;
}

.release-package .panel-footer {
    padding: 5px 15px;
}

.panel-heading {
    padding: 15px 0;
    border-bottom: 4px solid #8dccdc;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-default > .panel-heading {
    color: #00a7e1;
    background-color: #ffffff;
    border-color: none;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-right: 1px solid #8dccdc;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #eeeeee;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.badge{
    font-size: 14px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: underline;
}

.btn-link, .btn-link:hover {
    color: #40ACD6;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
}
.btn-link:hover {
    text-decoration: underline; /* Add underline on hover */
}
.back{
    color: #40ACD6;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    font-size: 14px;
}
.back:hover{
    text-decoration: underline;
}
.padding{
    padding-top: 33px;
    padding-left: 17px;
}

.alert-danger-flag {
    background-color: #fde3dd;
    color: #f26c4f;
    height: 30px;
    padding: 7px 4px;
    font-size: 12px;
    font-weight: 400;
}

.greenbutton {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #3cb878;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #3cb878;
    background-color: #ffffff;
    border-color:  #3cb878;
    border-top-left-radius: 10px;
    float: right !important;
    font-family: inherit;
    overflow: visible;
    text-wrap: yes;
    text-transform: none;
    -webkit-appearance: button;
  }
  
  .greenbutton:hover {
    background-color:  #3cb878;
    color: #ffffff;
  }   

  
.red-button {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #f26c4f;
    background-color: #fde3dd;
    border-color:  #f26c4f;
    border-top-left-radius: 10px;
    float: right !important;
    font-family: inherit;
    overflow: visible;
    text-wrap: yes;
    text-transform: none;
    -webkit-appearance: button;
  }

  .red-button:hover {
    background-color:  #f26c4f;
    color: #ffffff;
  }  

  .no-padding{
    padding: 5px;
  }
  

