<div class="row">
    <div class="col-lg-2">
      <div class="current">{{ label }}:</div>
    </div>
    <div class="col-lg-10" style="padding-left: 0px">
      <h4 class="version">{{ version.name }}</h4>
      <span>
        <b>
          <span class="bold"><b>{{ 'global.word.publishedOn' | translate | compareText: 'Published On' }}</b></span>:
        </b> 
        {{ version.publishedAt | date: 'yyyy-MM-dd' }}
      </span>
      <p class="download-files" *ngFor="let file of version.releaseFiles" style="display: flex;">
        <i class="fa fa-file"></i>&nbsp;
        <a [href]="file.clientDownloadUrl" target="_blank">{{ file.label | removeHtml}}</a>
      </p>
    </div>
  </div>