<app-modal 
  [title]="'views.extensionApplication.delete.title' | translate | compareText:'Cancel Application'"
  [formGroup]="null"
  [submitText]="'global.word.yes' | translate | compareText:'Yes'"
  [cancelText]="'global.word.no' | translate | compareText:'No'"
  [isSubmitting]="false"
  (onSubmit)="confirmCancel()"
  (onCancel)="cancelCancel()"
  [buttonType]="'delete'" 
>
  <!-- Modal Content -->
  <div modal-body>
    <p>{{'views.extensionApplication.delete.sure' | translate | compareText :'Are you sure you want to cancel this application?'}}</p>
    <p>{{'views.extensionApplication.delete.sure.detail' | translate | compareText :'Doing so will cause you to lose all saved information on this application.'}}</p>
  </div>
</app-modal>
