
p {
    margin: 0 0 10px;
}

.panel-default > .panel-heading {
    color: #00a7e1;
    background-color: #ffffff;
    border-color: none;
}
.panel-heading {
    padding: 15px 0;
    border-bottom: 4px solid #8dccdc;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.panel-body {
    border: 1px solid #eeeeee;
    padding: 15px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-right: 1px solid #8dccdc;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #3b3030;
    border-bottom: 1px solid #eeeeee;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.current {
    color: #3cb878;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    word-wrap: break-word;
}
.panel-title:hover{
    color:#8dccdc;
}

.btn-success {
    color: #3cb878;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #3cb878;
    border-top-left-radius: 10px;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #3cb878;
}

.promote, .promote:hover{
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #49A8DB;
    margin: 2px;
}
.rows{
    margin-top: 32px;
}
.panel-titles {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    word-wrap: break-word;
    color: black;
}
.panel-titles:hover{
    color:#8dccdc;
}
.alert-warning {
    background-color: #ffffff;
    border-color: #f26c4f;
    color: #f26c4f;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #f26c4f;
    border-radius: 4px;
}

.download-files{
    color: #40ACD6;
}

.download-files:hover{
    color: #0091c8;
}

h2 {
    font-size: 3.4rem;
    font-weight: 400;
}

.fa-question-circle {
color: #40ACD6;
font-size: 2rem;
}