<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 login">
      <h1>{{ 'register.title' | translate | compareText:'Register' }}</h1>
  
      <!-- Success and error messages -->
      <div *ngIf="success === 'OK'" class="alert alert-success" [innerHTML]="'register.messages.success' | translate"></div>

  
      <div *ngIf="error.general" class="alert alert-danger" [innerHTML]="'register.messages.error.fail' | translate"></div>
  
      <div *ngIf="error.onBlocklist" class="alert alert-danger" [innerHTML]="'register.messages.error.blocklist' | translate"></div>
  
      <div *ngIf="error.userExists" class="alert alert-danger" [innerHTML]="'register.messages.error.userexists' | translate">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>
  
      <!-- Registration form -->
      <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" *ngIf="!success">
        <div class="form-group">
          <label for="country">{{ 'settings.form.countryOfResidence' | translate | compareText:'Country of Residence' }}</label>
          <input class="form-control" type="text" placeholder="{{'settings.form.countryOfResidence.placeholder' | translate}}" formControlName="country" [ngbTypeahead]="search" [resultFormatter]="formatCountry" [inputFormatter]="formatCountry" [ngClass]="{ 'border-red': submitted && createUserForm.get('country')?.invalid }" autocomplete="off" aria-autocomplete="list" aria-expanded="false"/>
          <div *ngIf="submitted && createUserForm.get('country')?.invalid">
            <div class="help-block" *ngIf="createUserForm.get('country')?.errors?.['required']">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}</div>
            <div class="help-block" *ngIf="createUserForm.get('country')?.errors?.['editable']">{{ 'views.contactInfo.contact.country.unrecognized' | translate | compareText: 'Unrecognized country.' }}</div>
            <div class="help-block" *ngIf="createUserForm.get('country')?.errors?.['excluded']">This IHTSDO member country manages an independent registry for SNOMED users.</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="firstName">{{ 'settings.form.firstname' | translate | compareText:'First Name' }}</label>
          <input type="text" class="form-control" placeholder="{{'settings.form.firstname.placeholder' | translate}}" formControlName="firstName" [ngClass]="{ 'border-red': submitted && createUserForm.get('firstName')?.invalid }" />
          <div *ngIf="submitted && createUserForm.get('firstName')?.invalid">
            <div class="help-block" *ngIf="createUserForm.get('firstName')?.errors?.['required']">{{ 'settings.messages.validate.firstname.required' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('firstName')?.errors?.['minlength']">{{ 'settings.messages.validate.firstname.minlength' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('firstName')?.errors?.['maxlength']">{{ 'settings.messages.validate.firstname.maxlength' | translate }}</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="lastName">{{ 'settings.form.lastname' | translate | compareText:'Last Name' }}</label>
          <input type="text" class="form-control" placeholder="{{'settings.form.lastname.placeholder' | translate}}" formControlName="lastName" [ngClass]="{ 'border-red': submitted && createUserForm.get('lastName')?.invalid }" />
          <div *ngIf="submitted && createUserForm.get('lastName')?.invalid">
            <div class="help-block" *ngIf="createUserForm.get('lastName')?.errors?.['required']">{{ 'settings.messages.validate.lastname.required' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('lastName')?.errors?.['minlength']">{{ 'settings.messages.validate.lastname.minlength' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('lastName')?.errors?.['maxlength']">{{ 'settings.messages.validate.lastname.maxlength' | translate }}</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="email" [innerHTML]="('global.form.email' | translate )"></label>
          <input type="email" class="form-control" placeholder="{{'global.form.email.placeholder' | translate}}" formControlName="email" [ngClass]="{ 'border-red': submitted && createUserForm.get('email')?.invalid }" />
          <div *ngIf="submitted && createUserForm.get('email')?.invalid">
            <div class="help-block" *ngIf="createUserForm.get('email')?.errors?.['required']"><div>{{ 'global.messages.validate.email.required' | translate }}</div>          </div>
            <div class="help-block" *ngIf="createUserForm.get('email')?.errors?.['email']"><div>{{ 'global.messages.validate.email.invalid' | translate }}</div>          </div>
            <div class="help-block" *ngIf="createUserForm.get('email')?.errors?.['minlength']"><div>{{ 'global.messages.validate.email.minlength' | translate }}</div>          </div>
            <div class="help-block" *ngIf="createUserForm.get('email')?.errors?.['maxlength']"><div>{{ 'global.messages.validate.email.maxlength' | translate }}</div>          </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="confirmEmail">{{ 'register.form.confirmemail' | translate }}</label>
          <input type="email" class="form-control" placeholder="{{'global.form.email.placeholder' | translate}}" formControlName="confirmEmail" [ngClass]="{ 'border-red': submitted && createUserForm.get('confirmEmail')?.invalid }" />
          <div *ngIf="submitted && createUserForm.get('confirmEmail')?.invalid">
            <div class="help-block" *ngIf="createUserForm.get('confirmEmail')?.errors?.['required']">{{ 'global.messages.validate.email.required' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('confirmEmail')?.errors?.['email']">{{ 'global.messages.validate.email.invalid' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('confirmEmail')?.errors?.['minlength']">{{ 'global.messages.validate.email.minlength' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('confirmEmail')?.errors?.['maxlength']">{{ 'global.messages.validate.email.minlength' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('confirmEmail')?.errors?.['match']">{{ 'global.messages.validate.confirmemail.match' | translate }}</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="newPassword">{{ 'global.form.newpassword' | translate | compareText:'New password' }}</label>
          <input type="password" class="form-control" placeholder="{{'global.form.newpassword.placeholder' | translate}}" formControlName="password" [ngClass]="{ 'border-red': submitted && createUserForm.get('password')?.invalid }" />
          <div *ngIf="submitted && createUserForm.get('password')?.invalid">
            <div class="help-block" *ngIf="createUserForm.get('password')?.errors?.['required']">{{ 'global.messages.validate.newpassword.required' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('password')?.errors?.['minlength']">{{ 'global.messages.validate.newpassword.minlength' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('password')?.errors?.['maxlength']">{{ 'global.messages.validate.newpassword.maxlength' | translate }}</div>
          </div>
          <div id="strength">
          <small>{{'global.messages.validate.newpassword.strength' | translate}}</small>
          <app-password-strength-bar [passwordToCheck]="createUserForm.get('password')?.value"></app-password-strength-bar>
          </div>
        </div>
  
        <div class="form-group">
          <label for="newPasswordConfirmation">{{ 'global.form.confirmpassword' | translate | compareText:'New password confirmation' }}</label>
          <input type="password" class="form-control" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" formControlName="confirmPassword" [ngClass]="{ 'border-red': submitted && createUserForm.get('confirmPassword')?.invalid }" />
          <div *ngIf="submitted && createUserForm.get('confirmPassword')?.invalid">
            <div class="help-block" *ngIf="createUserForm.get('confirmPassword')?.errors?.['required']">{{ 'global.messages.validate.confirmpassword.required' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('confirmPassword')?.errors?.['minlength']">{{ 'global.messages.validate.confirmpassword.minlength' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('confirmPassword')?.errors?.['maxlength']">{{ 'global.messages.validate.confirmpassword.maxlength' | translate }}</div>
            <div class="help-block" *ngIf="createUserForm.get('confirmPassword')?.errors?.['match']">{{ 'global.messages.validate.confirmpassword.match' | translate }}</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="tos">
            <input type="checkbox" formControlName="tos" [ngClass]="{ 'border-red': submitted && createUserForm.get('tos')?.invalid }" />&nbsp;
            <small class="muted" [innerHTML]="('register.form.tos' | translate)"></small>
          </label>
          <div *ngIf="submitted && createUserForm.get('tos')?.invalid">
            <div class="help-block">{{ 'register.form.tc' | translate }}</div>
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary btn-lg">{{ 'register.form.button' | translate }}</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  