<div class="row top">
  <h2>Activity Log</h2>

  <div class="col-md-5">
    <h4>{{'audits.filter.title' | translate | compareText : 'Filter per date'}}</h4>
  </div>

  <div class="margin">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">{{ 'audits.filter.from' | translate | compareText: 'from' }}</span>
        <input
				class="form-control"
				placeholder="yyyy-mm-dd"
				name="dp1"
				[(ngModel)]="fromDate"
				ngbDatepicker
				#fromDatePicker="ngbDatepicker"
      (click)="fromDatePicker.toggle()" 
      (ngModelChange)="onDateChange('from', fromDate)"
			/>
      <span class="input-group-addon" (click)="fromDatePicker.toggle()"> <i class="fa fa-calendar"></i></span>
        <span class="input-group-addon">{{ 'audits.filter.to' | translate | compareText: 'to' }}</span>
        <input
				class="form-control"
				placeholder="yyyy-mm-dd"
				name="dp2"
				[(ngModel)]="toDate"
				ngbDatepicker
				#toDatepicker="ngbDatepicker"
      (click)="toDatepicker.toggle()" 
      (ngModelChange)="onDateChange('to', toDate)"
			/>
      <span class="input-group-addon"  (click)="toDatepicker.toggle()"> <i class="fa fa-calendar"></i></span>
      </div>
    </div>


    <div class="col-md-5">
      <div class="input-group" *ngIf="submitting">
        <p class="help-block">
          Loading..
          <i class="fa fa-spinner fa-spin"></i>
        </p>
      </div>
    </div>
  </div>
  <app-audits-embed [audits]="audits"></app-audits-embed>
</div>