.remove-button:hover {
    background-color:  #f26c4f;
    color: #ffffff;
  } 
  .remove-button {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #f26c4f;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #f26c4f;
    background-color: #fde3dd;;
    border-color:  #f26c4f;
    border-top-left-radius: 10px;
    float: right;
    font-family: inherit;
    border-top-left-radius: 10px;
    overflow: visible;
    text-transform: none;

  }
  .blue-button {
    float: left !important;
    margin-right: 17rem;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    // width: 100%;
    background-image: none;
    border: 2px solid  #ffffff;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #00a7e1;
    background-color: #ffffff;
    border-color:  #00a7e1;
    border-top-left-radius: 10px;

    font-family: inherit;

    overflow: visible;
    text-transform: none;

  }
  
  .blue-button:hover {
    background-color:  #00a7e1;
    color: #ffffff;
  }  
