<div class="jumbotron">
	<div class="row">
		<div class="col-md-10">
			<div class="main-login">
				<h2 class="title-mlds">{{'views.landingPage.appName' | translate | compareText :'Member Licensing and Distribution Service'}}</h2>
				<p>
					<b>{{'global.word.welcome' | translate | compareText :'Welcome'}}</b>
				</p>
				<p>
					<i class="fa fa-angle-right"></i>
					<span [innerHTML]="landingText"></span>
				  </p>
				  <p><i class="fa fa-angle-right"></i> 
					<span [innerHTML]="'views.landingPage.furtherDetails' | translate"></span>
				  </p>
				   
				<a class="btn btn-success btn-lg" [routerLink]="['/register']" >{{'global.menu.account.register' | translate | compareText : 'Register'}}</a>
					<p>
						<span>{{ 'global.word.or' | translate }}</span>&nbsp;
						<a [routerLink]="['/login']">{{ 'views.landingPage.loginHere' | translate | compareText: 'login here' }}</a>
					  </p>
					  
			</div>
		</div>
	</div>
</div>
