<div>
    <h2>Logs</h2>
  
    <p>There are {{ loggers.length }} loggers.</p>
  
    <label for="filter">Filter:</label>
    <input id="filter" type="text" [(ngModel)]="filter" class="form-control">
  
    <table class="table table-condensed table-striped">
      <thead>
        <tr title="click to order">
          <th (click)="predicate = 'name'; reverse = !reverse">Name</th>
          <th (click)="predicate = 'level'; reverse = !reverse">Level</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logger of sortedLoggers">
          <td><small>{{ logger.name | slice:0:140 }}</small></td>
          <td>
            <button 
              class="btn-edit" 
              (click)="changeLevel('TRACE')" 
              [ngClass]="{'btn-danger': isActive('TRACE')}">TRACE
            </button>
            <button 
              class="btn-delete" 
              (click)="changeLevel('DEBUG')" 
              [ngClass]="{'btn-primary': isActive('DEBUG')}">DEBUG
            </button>
            <button 
              class="btn-edit" 
              (click)="changeLevel('INFO')" 
              [ngClass]="{'btn-info': isActive('INFO')}">INFO
            </button>
            <button 
              class="btn-delete" 
              (click)="changeLevel('WARN')" 
              [ngClass]="{'btn-warning': isActive('WARN')}">WARN
            </button>
            <button 
              class="btn-delete" 
              (click)="changeLevel('ERROR')" 
              [ngClass]="{'btn-danger': isActive('ERROR')}">ERROR
            </button>
          </td>
          
          
        
        </tr>
      </tbody>
    </table>
  </div>
  