<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 login">
      <h1>Password Reset</h1>
      <p>We will send you an email containing a link to a password reset form.</p>
      
      
      <div *ngFor="let alert of alerts" [ngClass]="'alert alert-' + alert.type">
        {{ alert.msg }}
      </div>
      
      
      <form class="form" role="form" [formGroup]="passwordResetForm" (ngSubmit)="requestResetEmail()" novalidate *ngIf="!resetProcessStarted">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Your e-mail address">
          
          <div *ngIf="passwordResetForm.get('email')?.invalid && (passwordResetForm.get('email')?.dirty || passwordResetForm.get('email')?.touched)">
            <p *ngIf="passwordResetForm.get('email')?.hasError('required')" class="help-block">Required field.</p>
            <p *ngIf="passwordResetForm.get('email')?.hasError('email')" class="help-block">Invalid Email Address.</p>
          </div>
          
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Request Password Reset</button>
      </form>
      
      <hr>
      
      <!-- Link back to login page -->
      <p>
        <a [routerLink]="['/login']" class="btn btn-link">Go back to login page</a>
      </p>
    </div>
  </div>
  