<div *ngIf="isLoading && !isStaffOrAdmin" class="loader-center">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading || isStaffOrAdmin">
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
            <h1>{{ 'views.contactInfo.title' | translate | compareText: 'Account Information' }}</h1>
        </div>
    </div>
</div>

<form style="padding-bottom: 10rem;" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row" *ngIf="!approved">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-warning">
                <p>
                    <strong>{{ 'views.contactInfo.messages.notApproved.title' | translate | compareText: 'Registration not approved yet' }}</strong>
                </p>
                <p>{{ 'views.contactInfo.messages.notApproved.body' | translate | compareText: 'You can only modify the contact information for an affiliate once the registration request has been approved.' }}</p>
            </div>
        </div>
    </div>
  <div class="row space" >
  <div class="col-sm-12">
    <div *ngFor="let alert of alerts; let i = index" class="alert"
         [ngClass]="{'nbgalert-success': alert.type === 'success', 'nbgalert-danger': alert.type === 'danger'}" 
         role="alert">
      {{ alert.msg }}
    </div>
  </div>
</div>

      
    <div class="row">
        <span class="col-sm-12 col-md-12 col-lg-12">

            <div class="panel panel-default" *ngIf="isStaffOrAdmin">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>{{ 'views.contactInfo.admin.title' | translate | compareText: 'Admin Editable' }}</b></h4>
                </div>

                <div class="panel-collapse collapse show">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <!-- for type -->
                                <div class="form-group">
                                    <label for="type"><b>{{ 'views.contactInfo.admin.usageType.name' | translate | compareText: 'Type' }}:</b></label>
                                    <select id="type" class="form-select" formControlName="type"
                                        (change)="onTypeChange()">
                                        <option value="COMMERCIAL">{{ 'affiliate.type.' + 'COMMERCIAL' | translate}}</option>
                                        <option value="ACADEMIC">{{ 'affiliate.type.' + 'ACADEMIC' | translate}}</option>
                                        <option value="OTHER">{{ 'affiliate.type.' + 'OTHER' | translate}}</option>
                                        <option value="INDIVIDUAL">{{ 'affiliate.type.' + 'INDIVIDUAL' | translate}}</option>
                                    </select>

                                    <p class="help-block"
                                        *ngIf="form.get('type')?.hasError('required') && formSubmitted">
                                        {{ 'views.contactInfo.admin.usageType.required' | translate | compareText: 'Usage type field is required.' }}
                                    </p>
                                </div>

                                <!-- for other text -->
                                <div class="form-group" *ngIf="form.get('type')?.value === 'OTHER'">
                                    <label for="otherText">{{ 'views.contactInfo.admin.other.name' | translate | compareText: 'Other' }}:</label>
                                    <input type="text" id="otherText" class="form-control" placeholder="{{'views.contactInfo.admin.other.placeholder' | translate}}"
                                        formControlName="otherText" />

                                    <div *ngIf="form.get('otherText')?.hasError('required') && formSubmitted">
                                        <p class="help-block">{{ 'views.contactInfo.admin.other.required' | translate | compareText: 'Other field is required.' }}</p>
                                    </div>
                                </div>

                                <!-- for sub type -->
                                <div class="form-group" *ngIf="type?.value && type?.value !== 'OTHER'">
                                    <label for="usageSubType"><b>{{ 'views.contactInfo.admin.subtype.name' | translate | compareText: 'Subtype' }}:</b></label>
                                    <select id="usageSubType" class="form-select" formControlName="subType">
                                        <option value="DEVELOPER" *ngIf="type?.value === 'COMMERCIAL'">{{ 'affiliate.subType.DEVELOPER' | translate}}
                                        </option>
                                        <option value="DEVELOPMENT" *ngIf="type?.value === 'ACADEMIC'">{{ 'affiliate.subType.DEVELOPMENT' | translate}}
                                        </option>
                                        <option value="EDUCATIONAL" *ngIf="type?.value !== 'COMMERCIAL'">{{ 'affiliate.subType.EDUCATIONAL' | translate}}
                                        </option>
                                        <option value="HEALTHCAREPROVIDER" *ngIf="type?.value === 'ACADEMIC'">{{ 'affiliate.subType.HEALTHCAREPROVIDER' | translate}}
                                        </option>
                                        <option value="PERSONAL" *ngIf="type?.value === 'INDIVIDUAL'">{{ 'affiliate.subType.PERSONAL' | translate}}</option>
                                        <option value="RESEARCH" *ngIf="type?.value !== 'COMMERCIAL'">{{ 'affiliate.subType.RESEARCH' | translate}}</option>
                                        <option value="VENDOR" *ngIf="type?.value === 'COMMERCIAL'">{{ 'affiliate.subType.VENDOR' | translate}}</option>
                                    </select>
                                    <p class="help-block"
                                        *ngIf="form.get('subType')?.hasError('required') && formSubmitted">
                                        {{ 'views.contactInfo.admin.subtype.required' | translate | compareText: 'Subtype field is required.' }}
                                    </p>
                                </div>

                                <!-- for agreement type -->
                                <div class="form-group">
                                    <label for="agreementType"><b>{{ 'views.contactInfo.admin.agreementType' | translate | compareText: 'Agreement Type' }}:</b></label>
                                    <select id="agreementType" class="form-select" formControlName="agreementType">
                                        <option *ngFor="let type of agreementTypeOptions" [value]="type">{{ ('affiliate.agreementType.' + type) | translate }}
                                        </option>
                                    </select>
                                    <div *ngIf="formSubmitted && form.get('agreementType')?.hasError('required')">
                                        <p class="help-block">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- for accept notifications and country notifications -->
            <div class="form-group">
                <input type="checkbox" formControlName="acceptNotifications" [disabled]="readOnly">&nbsp;
                <label for="acceptNotifications">
                    <b>{{ 'views.contactInfo.acceptNotifications' | translate | compareText: 'Yes notify me when a SNOMED package is updated.' }}</b>
                </label>
                <span *ngIf="acceptNotifications?.value">
                    &nbsp;(<b>
                    <input type="checkbox" formControlName="countryNotificationsOnly" [disabled]="readOnly">&nbsp;
                    <label for="countryNotificationsOnly">
                        {{ 'views.contactInfo.countryNotificationsOnly' | translate | compareText: 'Only for my country extensions' }}
                    </label></b>
                    )
                </span>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> <b>{{ 'views.contactInfo.contact.title' | translate | compareText: 'Contact Information' }}</b></h4>
                </div>
                <div class="panel-collapse collapse show">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <!-- for first name -->
                                <div class="form-group">
                                    <label for="firstName"><b>{{ 'views.contactInfo.contact.firstName.name' | translate | compareText: 'First Name' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b> </label>
                                    <input id="firstName" class="form-control" placeholder="{{'views.contactInfo.contact.firstName.placeholder'|translate}}"
                                        formControlName="firstName" [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.touched || formSubmitted)">
                                        <p class="help-block">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                    </div>
                                </div>

                                <!-- for last name -->
                                <div class="form-group">
                                    <label for="lastName"><b>{{ 'views.contactInfo.contact.lastName.name' | translate | compareText: 'Last Name' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                    <input id="lastName" class="form-control" placeholder="{{'views.contactInfo.contact.lastName.placeholder'| translate}}" formControlName="lastName"
                                        [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.touched || formSubmitted)">
                                        <p class="help-block">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- for email -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" *ngIf="!isStaffOrAdmin">
                                    <label for="email"><b>{{ 'views.contactInfo.contact.email.name' | translate | compareText: 'Email' }}:</b></label>
                                    <span>{{ affiliate?.affiliateDetails?.email }}</span>
                                </div>

                                <div class="form-group" *ngIf="isStaffOrAdmin">
                                    <label for="email"><b>{{ 'views.contactInfo.contact.email.name' | translate | compareText: 'Email' }}:</b></label>
                                    <input id="email" class="form-control" type="email" placeholder="{{'views.contactInfo.contact.email.placeholder' | translate }}" 
                                        formControlName="email" [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('email')?.errors?.['required']">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}
                                        </p>
                                        <p class="help-block" *ngIf="form.get('email')?.errors?.['email']">{{ 'views.contactInfo.contact.email.invalid' | translate | compareText: 'Invalid Email Address.' }}
                                        </p>
                                        <p class="help-block" *ngIf="form.get('email')?.errors?.['notUnique']">{{ 'views.contactInfo.contact.email.unique' | translate | compareText: 'Email Addresses need to be unique.' }}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- for alternate email -->
                        <div class="row" *ngIf="affiliateType == 'INDIVIDUAL'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="alternateEmail"><b>{{ 'views.contactInfo.contact.alternateEmail.name' | translate | compareText: 'Alternate Email' }}:</b></label>
                                    <input id="alternateEmail" class="form-control" type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'|translate}}"
                                        formControlName="alternateEmail" [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('alternateEmail')?.invalid && (form.get('alternateEmail')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('alternateEmail')?.errors?.['required']">
                                            {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        <p class="help-block" *ngIf="form.get('alternateEmail')?.errors?.['email']">
                                            {{ 'views.contactInfo.contact.email.invalid' | translate | compareText: 'Invalid Email Address.' }}</p>
                                        <p class="help-block" *ngIf="form.get('alternateEmail')?.errors?.['notUnique']">
                                            {{ 'views.contactInfo.contact.email.unique' | translate | compareText: 'Email Addresses need to be unique.' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- for third email -->
                        <div class="row" *ngIf="affiliateType == 'INDIVIDUAL'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="thirdEmail"><b>{{ 'views.contactInfo.contact.thirdEmail' | translate | compareText: 'Third Email' }}:</b></label>
                                    <input id="thirdEmail" class="form-control" type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'| translate}}"
                                        formControlName="thirdEmail" [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('thirdEmail')?.invalid && (form.get('thirdEmail')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('thirdEmail')?.errors?.['email']">
                                            {{ 'views.contactInfo.contact.email.invalid' | translate | compareText: 'Invalid Email Address.' }}</p>
                                        <p class="help-block" *ngIf="form.get('thirdEmail')?.errors?.['notUnique']">
                                            {{ 'views.contactInfo.contact.email.unique' | translate | compareText: 'Email Addresses need to be unique.' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- labels for landline and extension -->
                        <div class="row">
                            <div class="col-md-4">
                                <label for="phoneNumber"><b>{{ 'views.contactInfo.contact.landline.name' | translate | compareText: 'Landline Phone Number' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                            </div>
                            <div class="col-md-2">
                                <label for="extension"><b>{{ 'views.contactInfo.contact.landlineExtension.name' | translate | compareText: 'Extension' }}:</b></label>
                            </div>
                        </div>

                        <div class="row">


                            <div class="col-md-4">
                                <div class="form-group">
                                    <ngx-bs-tel-input class="form-control" formControlName="landlineNumber"
                                        [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                        [attr.disabled]="readOnly ? true : null"></ngx-bs-tel-input>
                                    <div
                                        *ngIf="form.get('landlineNumber')?.invalid && (form.get('landlineNumber')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('landlineNumber')?.errors?.['required']">
                                            {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        <p class="help-block"
                                            *ngIf="form.get('landlineNumber')?.errors?.['invalidPhoneNumber']">{{ 'views.contactInfo.contact.landline.invalid' | translate | compareText: 'Invalid Phone Number.' }}</p>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-2">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Extension"
                                        formControlName="landlineExtension" [attr.disabled]="readOnly ? true : null" />
                                </div>
                            </div>
                        </div>

                        <!-- label for mobile number -->
                        <div class="row">
                            <div class="col-md-6">
                                <label for="mobileNumber"><b>{{ 'views.contactInfo.contact.mobile.name' | translate | compareText: 'Mobile Phone Number' }}:<span *ngIf="!isStaffOrAdmin && affiliateType !== 'INDIVIDUAL'" class="text-danger">*</span></b></label>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <ngx-bs-tel-input class="form-control" formControlName="mobileNumber"
                                        [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                        [attr.disabled]="readOnly ? true : null"></ngx-bs-tel-input>
                                    <div
                                        *ngIf="form.get('mobileNumber')?.invalid && (form.get('mobileNumber')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('mobileNumber')?.errors?.['required']">
                                            {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        <p class="help-block"
                                            *ngIf="form.get('mobileNumber')?.errors?.['invalidPhoneNumber']">{{ 'views.contactInfo.contact.landline.invalid' | translate | compareText: 'Invalid Phone Number.' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="affiliateType == 'INDIVIDUAL'">
                            <!-- for address -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="address"><b>{{ 'views.contactInfo.contact.address.name' | translate | compareText: 'Address' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                        <input class="form-control" placeholder="{{'views.contactInfo.contact.address.placeholder'|translate}}"
                                            formControlName="addressStreetIndividual"
                                            [attr.disabled]="readOnly ? true : null" />
                                        <div
                                            *ngIf="form.get('addressStreetIndividual')?.invalid && (form.get('addressStreetIndividual')?.touched || formSubmitted)">
                                            <p class="help-block"
                                                *ngIf="form.get('addressStreetIndividual')?.errors?.['required']">
                                                {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- labels for city and post code -->
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="city"><b>{{ 'views.contactInfo.contact.city.name' | translate | compareText: 'City' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                </div>
                                <div class="col-md-3">
                                    <label for="postCode"><b>{{ 'views.contactInfo.contact.postcode.name' | translate | compareText: 'Post Code' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input class="form-control" formControlName="addressCityIndividual" placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}"
                                            [attr.disabled]="readOnly ? true : null" />
                                        <div
                                            *ngIf="form.get('addressCityIndividual')?.invalid && (form.get('addressCityIndividual')?.touched || formSubmitted)">
                                            <p class="help-block"
                                                *ngIf="form.get('addressCityIndividual')?.errors?.['required']"> {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="{{'views.contactInfo.contact.postcode.placeholder'|translate}}"
                                            formControlName="addressPostIndividual"
                                            [attr.disabled]="readOnly ? true : null" />
                                        <div
                                            *ngIf="form.get('addressPostIndividual')?.invalid && (form.get('addressPostIndividual')?.touched || formSubmitted)">
                                            <p class="help-block"
                                                *ngIf="form.get('addressPostIndividual')?.errors?.['required']">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                            <p class="help-block"
                                                *ngIf="form.get('addressPostIndividual')?.errors?.['pattern']">{{ 'views.contactInfo.contact.postcode.tooLong' | translate | compareText: 'Post Code is too long.'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- for country -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country"><b>{{ 'views.contactInfo.contact.country.name' | translate | compareText: 'Country' }}:</b></label>
                                        <span> {{affiliate?.affiliateDetails?.address?.country?.commonName}}</span>
                                    </div>
                                </div>
                            </div>


                            <!-- for billing fields -->
                            <div *ngIf="!billingHide">
                                <hr>

                                
                                <div class="row" *ngIf="!isStaffOrAdmin">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="checkbox"><b>{{ 'views.contactInfo.contact.billingAddress.sameAsAddress' | translate | compareText: 'Use Address as Billing Address' }}</b></label>
                                            &nbsp;<input type="checkbox" (change)="copyAddress()" formControlName="use" />
                                        </div>
                                    </div>
                                </div>

                                <!-- for billing address - individual -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="billingAddress"><b>{{ 'views.contactInfo.contact.billingAddress.name' | translate | compareText: 'Billing Address' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                            <input class="form-control" placeholder="{{'views.contactInfo.contact.billingAddress.placeholder'|translate}}"
                                                formControlName="billingAddressStreet"
                                                [attr.disabled]="readOnly || isSameAddress ? true : null" />
                                            <div
                                                *ngIf="form.get('billingAddressStreet')?.invalid && (form.get('billingAddressStreet')?.touched || formSubmitted)">
                                                <p class="help-block"
                                                    *ngIf="form.get('billingAddressStreet')?.errors?.['required']">
                                                    {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="city"><b>{{ 'views.contactInfo.contact.city.name' | translate | compareText: 'City' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="postCode"><b>{{ 'views.contactInfo.contact.postcode.name' | translate | compareText: 'Post Code' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                    </div>
                                </div>

                                <!-- billing address city and post code - individual -->
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}"
                                                formControlName="billingAddressCity"
                                                [attr.disabled]="readOnly || isSameAddress ? true : null" />
                                            <div
                                                *ngIf="form.get('billingAddressCity')?.invalid && (form.get('billingAddressCity')?.touched || formSubmitted)">
                                                <p class="help-block"
                                                    *ngIf="form.get('billingAddressCity')?.errors?.['required']">
                                                    {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="{{'views.contactInfo.contact.postcode.placeholder'|translate}}"
                                                formControlName="billingAddressPost"
                                                [attr.disabled]="readOnly || isSameAddress ? true : null" />
                                            <div
                                                *ngIf="form.get('billingAddressPost')?.invalid && (form.get('billingAddressPost')?.touched || formSubmitted)">
                                                <p class="help-block"
                                                    *ngIf="form.get('billingAddressPost')?.errors?.['required']">
                                                    {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                                <p class="help-block"
                                                    *ngIf="form.get('billingAddressPost')?.errors?.['pattern']">{{ 'views.contactInfo.contact.postcode.tooLong' | translate | compareText: 'Post Code is too long.'}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country"><b>{{ 'views.contactInfo.contact.country.name' | translate | compareText: 'Country' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                            <input class="form-control" type="text" placeholder="{{'views.contactInfo.contact.country.name'|translate}}"
                                                formControlName="billingAddressCountry" [ngbTypeahead]="search"
                                                [resultFormatter]="formatCountry" [inputFormatter]="formatCountry"
                                                autocomplete="off" aria-autocomplete="list" aria-expanded="false" [attr.disabled]="readOnly || isSameAddress ? true : null"/>
                                            <div
                                                *ngIf="form.get('billingAddressCountry')?.invalid && (form.get('billingAddressCountry')?.touched || formSubmitted)">
                                                <p class="help-block"
                                                    *ngIf="form.get('billingAddressCountry')?.errors?.['required']">
                                                    {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>


            <div class="panel panel-default" *ngIf="affiliateType && affiliateType != 'INDIVIDUAL'">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>{{ 'views.contactInfo.organization.title' | translate | compareText: 'Organization' }}</b></h4>
                </div>

                <div class="panel-collapse collapse show">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" *ngIf="!isStaffOrAdmin">
                                    <label for="organizationName"><b>{{ 'views.contactInfo.organization.name.name' | translate | compareText: 'Organization Name' }}:</b></label>
                                    <span>{{affiliate?.affiliateDetails?.organizationName}}</span>
                                </div>

                                <div class="form-group" *ngIf="isStaffOrAdmin">
                                    <label for="organizationName"><b>{{ 'views.contactInfo.organization.name.name' | translate | compareText: 'Organization Name' }}:</b></label>
                                    <input class="form-control" placeholder="{{'views.contactInfo.organization.name.placeholder'|translate}}" formControlName="organizationName"
                                        [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('organizationName')?.invalid && (form.get('organizationName')?.touched || formSubmitted)">
                                        <p class="help-block"
                                            *ngIf="form.get('organizationName')?.errors?.['required']">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="address"><b>{{ 'views.contactInfo.contact.address.name' | translate | compareText: 'Address' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                    <input class="form-control" placeholder="{{'views.contactInfo.contact.address.placeholder'|translate}}" formControlName="addressStreet"
                                        [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('addressStreet')?.invalid && (form.get('addressStreet')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('addressStreet')?.errors?.['required']">
                                            {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label for="city"><b>{{ 'views.contactInfo.contact.city.name' | translate | compareText: 'City' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                            </div>
                            <div class="col-md-3">
                                <label for="postCode"><b>{{ 'views.contactInfo.contact.postcode.name' | translate | compareText: 'Post Code' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}" formControlName="addressCity"
                                        [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('addressCity')?.invalid && (form.get('addressCity')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('addressCity')?.errors?.['required']">
                                            {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="{{'views.contactInfo.contact.postcode.placeholder'|translate}}" formControlName="addressPost"
                                        [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('addressPost')?.invalid && (form.get('addressPost')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('addressPost')?.errors?.['required']">
                                            {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        <p class="help-block" *ngIf="form.get('addressPost')?.errors?.['pattern']">Post
                                            {{ 'views.contactInfo.contact.postcode.tooLong' | translate | compareText: 'Post Code is too long.'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country"><b>{{ 'views.contactInfo.contact.country.name' | translate | compareText: 'Country' }}:</b></label>
                                    <span> {{affiliate?.affiliateDetails?.address?.country?.commonName}}</span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!billingHide">
                            <hr>

                            <div class="row" *ngIf="!isStaffOrAdmin">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="checkbox"><b>{{ 'views.contactInfo.contact.billingAddress.useOrganizationAddress' | translate | compareText: 'Use Organization Address as Billing Address' }}</b></label>
                                        &nbsp;<input type="checkbox" (change)="copyAddress()" formControlName="use" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="billingAddress"><b>{{ 'views.contactInfo.contact.billingAddress.name' | translate | compareText: 'Billing Address' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                        <input class="form-control" placeholder="{{'views.contactInfo.contact.billingAddress.placeholder'|translate}}"
                                            formControlName="billingAddressStreet"
                                            [attr.disabled]="readOnly || isSameAddress ? true : null" />
                                        <div
                                            *ngIf="form.get('billingAddressStreet')?.invalid && (form.get('billingAddressStreet')?.touched || formSubmitted)">
                                            <p class="help-block"
                                                *ngIf="form.get('billingAddressStreet')?.errors?.['required']">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label for="city"><b>{{ 'views.contactInfo.contact.city.name' | translate | compareText: 'City' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                </div>
                                <div class="col-md-3">
                                    <label for="postCode"><b>{{ 'views.contactInfo.contact.postcode.name' | translate | compareText: 'Post Code' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="{{'views.contactInfo.contact.city.placeholder'|translate}}" formControlName="billingAddressCity"
                                            [attr.disabled]="readOnly || isSameAddress ? true : null" />
                                        <div
                                            *ngIf="form.get('billingAddressCity')?.invalid && (form.get('billingAddressCity')?.touched || formSubmitted)">
                                            <p class="help-block"
                                                *ngIf="form.get('billingAddressCity')?.errors?.['required']">{{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="{{'views.contactInfo.contact.postcode.placeholder'|translate}}" formControlName="billingAddressPost"
                                            [attr.disabled]="readOnly || isSameAddress ? true : null" />
                                        <div
                                            *ngIf="form.get('billingAddressPost')?.invalid && (form.get('billingAddressPost')?.touched || formSubmitted)">
                                            <p class="help-block"
                                                *ngIf="form.get('billingAddressPost')?.errors?.['required']"> {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                            <p class="help-block"
                                                *ngIf="form.get('billingAddressPost')?.errors?.['pattern']">{{ 'views.contactInfo.contact.postcode.tooLong' | translate | compareText: 'Post Code is too long.'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country"><b>{{ 'views.contactInfo.contact.country.name' | translate | compareText: 'Country' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                        <input class="form-control" type="text" placeholder="{{'views.contactInfo.contact.country.placeholder'|translate}}"
                                            formControlName="billingAddressCountry" [ngbTypeahead]="search"
                                            [resultFormatter]="formatCountry" [inputFormatter]="formatCountry"
                                            autocomplete="off" aria-autocomplete="list" aria-expanded="false"  [attr.disabled]="readOnly || isSameAddress ? true : null"/>
                                        <div
                                            *ngIf="form.get('billingAddressCountry')?.invalid && (form.get('billingAddressCountry')?.touched || formSubmitted)">
                                            <p class="help-block"
                                                *ngIf="form.get('billingAddressCountry')?.errors?.['required']"> {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="alternateEmail"><b>{{ 'views.contactInfo.contact.alternateEmail.name' | translate | compareText: 'Alternate Email' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                    <input class="form-control" type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'|translate}}"
                                        formControlName="alternateEmail" [attr.disabled]="readOnly ? true : null"
                                        required />
                                    <div
                                        *ngIf="form.get('alternateEmail')?.invalid && (form.get('alternateEmail')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('alternateEmail')?.errors?.['required']">
                                            {{ 'form.requiredField' | translate | compareText: 'Required field.' }}</p>
                                        <p class="help-block" *ngIf="form.get('alternateEmail')?.errors?.['email']">
                                            {{ 'views.contactInfo.contact.email.invalid' | translate | compareText: 'Invalid Email Address.' }}</p>
                                        <p class="help-block" *ngIf="form.get('alternateEmail')?.errors?.['notUnique']">
                                            {{ 'views.contactInfo.contact.email.unique' | translate | compareText: 'Email Addresses need to be unique.' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="thirdEmail"><b>{{ 'views.contactInfo.contact.thirdEmail' | translate | compareText: 'Third Email' }}:<span *ngIf="!isStaffOrAdmin" class="text-danger">*</span></b></label>
                                    <input class="form-control" type="email" placeholder="{{'views.contactInfo.contact.email.placeholder'| translate}}" formControlName="thirdEmail"
                                        [attr.disabled]="readOnly ? true : null" />
                                    <div
                                        *ngIf="form.get('thirdEmail')?.invalid && (form.get('thirdEmail')?.touched || formSubmitted)">
                                        <p class="help-block" *ngIf="form.get('thirdEmail')?.errors?.['email']">{{ 'views.contactInfo.contact.email.invalid' | translate | compareText: 'Invalid Email Address.' }}</p>
                                        <p class="help-block" *ngIf="form.get('thirdEmail')?.errors?.['notUnique']">
                                            {{ 'views.contactInfo.contact.email.unique' | translate | compareText: 'Email Addresses need to be unique.' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </span>
    </div>


    <button class="btn btn-link" (click)="cancel()"> {{ 'global.word.cancel' | translate | compareText: 'Cancel' }}</button>
    <button type="submit" class="edit-button" *ngIf="!readOnly"><span>{{ 'global.word.save' | translate | compareText: 'Save' }}</span>
    </button>



    <div *ngIf="formSubmitted">
        <p class="help-block" *ngIf="form.invalid">
            {{ 'form.pleaseFix' | translate | compareText: 'Please fix the errors listed above.' }}
        </p>
    </div>

</form>
</div>