h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.panel-heading {
    padding: 15px 0;
    border-bottom: 4px solid #8dccdc;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-body {
    border: 1px solid #eeeeee;
    padding: 15px;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 4px;
}
.row{
  padding-left: 0;
  padding-right: 0;
}

.form-group {
    margin-bottom: 15px;
}


.custom .ngx-intl-tel-input .ngx-intl-tel-input__country-list {
    z-index: 1000; 
    display: block; 
  }

  .gap {
    margin-left: 10px;
  }
  


.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #f26c4f;
}
  
.edit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #3cb878;
    white-space: nowrap;
    padding: 2px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #3cb878;
    background-color: #ffffff;
    border-color:  #3cb878;
    border-top-left-radius: 10px;
    float: left !important;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
  }
  
  .edit-button:hover {
    background-color:  #3cb878;
    color: #ffffff;
  }

  .btn-link {
    color: #40ACD6;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
}

.btn-link:hover {
    color: #40ACD6;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    text-decoration: underline;
}

/* Alert box styling */
.nbgalert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

/* Success alert: Green border, green text, white background */
.nbgalert-success {
  color: #3cb878; /* Font color green */
  background-color: white; /* Background white */
  border: 2px solid #3cb878; /* Border green */
}

/* Danger alert: Red border, red text, white background */
.nbgalert-danger {
  color: #a94442; /* Font color red */
  background-color: white; /* Background white */
  border: 2px solid #ebccd1; /* Border red */
}

.form-select{
  font-size: 14px;
}

.phone-input{
  border: none;
  padding-left: 0px;
}

::ng-deep ngx-bs-tel-input .input-group .dropdown-toggle{
  border: 1px solid #dee2e6;
}

::ng-deep ngx-bs-tel-input.readonly-mode .input-group .dropdown-toggle {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.alert-warning {
  background-color: #ffffff;
  border-color: #f26c4f;
  border: 1px solid;
  color: #f26c4f;
  margin-bottom: 20px;
}

.alert-warning p{
  background-color: #ffffff;
  color: #f26c4f;
}

::ng-deep .iti__country-list[_ngcontent-ng-c4036060811] {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 250px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
