<app-modal
  [title]="'Confirm Version'"
  [alerts]="alerts"
  [cancelText]="'No'"
  [submitText]="'Yes'"
  [isSubmitting]="submitting"
  (onCancel)="close()"
  (onSubmit)="confirm()">

  <ng-container modal-body>
    <p>Please verify that you have selected the correct version before taking Alpha/Beta:</p>
    
    <div>
      <label for="packageName">Package Name: </label>
      <span> {{ releasePackage.name }}</span>
    </div>
    
    <div>
      <label for="packageVersion">Package Version: </label>
      <span> {{ releaseVersion.name }}</span>
    </div>
  </ng-container>

</app-modal>
