.form-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.form-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 22%;
}

.form-container select {
  margin-top: 5px;
  width: 100%;
}

.release-container {
  position: relative; /* Positioning context for the dropdown */
  display: flex;
  flex-direction: column;
  width: 250px; 
}

.release-container span {
  font-weight: bold;
}

.dropdown-btn {
  width: 100%;
  // padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  position: relative; /* This ensures the button is properly aligned with the dropdown */
  margin-top: 4px;
}

.dropdown-btn:hover {
  background-color: #e1e1e1;
}

/* Make the dropdown appear on top without pushing down other elements */
.checkbox-dropdown {
  position: absolute; /* Position it absolutely inside the parent container */
  top: 100%; /* Position right below the button */
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensure it stays above other elements */
  padding:5px;
}

.release-container.open .checkbox-dropdown {
  display: block; /* Show dropdown when 'open' class is added */
}

.checkbox-item {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.checkbox-item input[type="checkbox"] {
  margin-right: 2px;
}

.checkbox-dropdown::-webkit-scrollbar {
  width: 6px;
}

.checkbox-dropdown::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.checkbox-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Optional: Styling for the Save and Reset buttons */
.save-reset-btns {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.save-reset-btns .btn {
  margin: 0 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu{
  height: 200px;
  overflow-y: scroll;
}

.dropdown-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.btn-group-vertical > .btn, .btn-group > .btn {
  position: relative;
  flex: 1 1 auto;
  background-color: white;
  color: black;
  border: black 1px solid;
}

.loader-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
