<div class="row">
  <div style="display: flex;flex-direction: row;">
  <h2 style="padding-top: 50px;">
    Release Management - Configuration screen
  </h2>


  <div *ngIf="isLoading" class="loader-center">
    <app-loader></app-loader>
  </div>

  <button type="button" class="review-button " style="padding: 3px;
  margin-top: 125px;
  margin-left: 30rem;
  margin-bottom: 14px;" (click)="viewPermission()"> <i class="fa fa-eye"></i> View Releases Permisssion</button>
</div>

 <!-- Success Message -->
  <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert" style="margin-top: 20px;">
    Release package updated successfully!
  </div>
  
  <div class="form-container" style="padding-top: 40px;">
    <!-- Release Type Selection -->
    <div>
      <span>Release Type<span class="text-danger">*</span></span>
      <select [(ngModel)]="selectedReleaseType" (change)="onReleaseTypeSelect()">
        <option value="" disabled selected>Select a Release Type</option>
        <option *ngFor="let type of releaseTypes; let i = index" [value]="i+1">{{ type }}</option>
      </select>
    </div>

    <div class="release-container" (mouseleave)="dropdownOpen = false">
      <span>Releases<span class="text-danger">*</span></span>

      <button (click)="toggleDropdown()" class="dropdown-btn">
        Select a Release
      </button>

      <div *ngIf="dropdownOpen" class="checkbox-dropdown">
        <label class="checkbox-item">
          <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()" />
          {{ selectAllChecked ? ' Deselect All' : ' Select All' }}
        </label>
        <hr />
        <div *ngFor="let release of sortedReleaseNames" class="checkbox-item">
          <label>
            <input type="checkbox" [(ngModel)]="release.selected" (change)="onReleaseChange()" />
            {{ release.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="release-container" (mouseleave)="dropdownPermission = false">
  <span>Release Permission<span class="text-danger">*</span></span>
  <button (click)="toggleDropdownForPermission()" class="dropdown-btn">
    Select a User permission
  </button>

  <div *ngIf="dropdownPermission" class="checkbox-dropdown" [formGroup]="permissionForm">
    <label class="checkbox-item">
      <input type="checkbox" formControlName="isAdmin" />
      Admin
    </label>
    <label class="checkbox-item">
      <input type="checkbox" formControlName="isStaff" />
      Staff
    </label>
     <label class="checkbox-item">
      <input type="checkbox" formControlName="isMember" />
      Member
    </label>
    <label class="checkbox-item">
      <input type="checkbox" formControlName="isAllAffiliates" />
      All Affiliates
    </label>
    <label class="checkbox-item">
      <input type="checkbox" formControlName="isSelectedUsers" />
      Selected Users
    </label>
    <label class="checkbox-item">
      <input type="checkbox" formControlName="isEveryone" />
      Everyone
    </label>
  </div>
</div>






    <!-- User Selection Dropdown -->
    <div class="btn-group" *ngIf="selectedPermission == 'ADMIN_STAFF_SELECTED_USERS'"
      style="height: 5rem; padding-top: 20px;">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" aria-expanded="false">
        Select Users
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let user of users">
          <label class="dropdown-item">
            <input type="checkbox" [(ngModel)]="user.selected"> {{ user.login }}
          </label>
        </li>
      </ul>
    </div>
  </div>

  <br><br><br>

  <!-- Save and Reset Buttons -->
  <div class="save-reset-btns">
    <button type="button" class="btn btn-info" (click)="save()">
      <i class="fa fa-check" aria-hidden="true"></i> Save
    </button>&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="reset()">
      <i class="fas fa-undo"></i> Reset
    </button>
  </div>
</div>