<app-modal
  [title]="'Confirm Version'"
  [alerts]="alerts"
  [cancelText]="'No'"
  [submitText]="'Yes'"
  [isSubmitting]="submitting"
  (onCancel)="close()"
  (onSubmit)="confirm()">

  <ng-container modal-body>

    <p>Please verify that you have selected the correct version before taking offline:</p>
    
    <div>
      <label>Package Name: </label>
      <span> {{ releasePackage.name }}</span>
    </div>
    
    <div>
      <label>Package Version: </label>
      <span> {{ releaseVersion.name }}</span>
    </div>
  </ng-container>

</app-modal>
