<div class="row new">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="page-header">
      <h1>Change Password</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-6">
      <!-- Show success message if form is disabled -->
      <div *ngIf="success && formDisabled" class="alerts">
        <strong>Password changed!</strong>  Continue to <a href='#/contactInfo'>Account Information</a>
      </div>

      <!-- Show error message if there is an error -->
      <div *ngIf="error" class="alert alert-danger">
        <strong>Password change failed!</strong>
      </div>

      <!-- Show mismatch message if passwords do not match -->
      <div *ngIf="doNotMatch && !formDisabled" class="alert alert-danger">
        <strong>The password and its confirmation do not match!</strong>
      </div>

      <!-- Show the form only if not disabled -->
      <div *ngIf="!formDisabled">
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="password">New password</label>
            <input type="password" id="password" class="form-control" style="border-color: #f26c4f;" formControlName="password" placeholder="Enter new password">
            <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">
              <div class="help-block" *ngIf="passwordForm.get('password')?.errors?.['required']">
                Your password is required.
              </div>
              <div class="help-block" *ngIf="passwordForm.get('password')?.errors?.['minlength']">
                Your password must be at least 5 characters.
              </div>
              <div class="help-block" *ngIf="passwordForm.get('password')?.errors?.['maxlength']">
                Your password cannot be longer than 50 characters.
              </div>
            </div>
          </div>

          <div id="strength">
            <small>Password strength:</small>
            <app-password-strength-bar [passwordToCheck]="passwordForm.get('password')?.value"></app-password-strength-bar>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" class="form-control" style="border-color: #f26c4f;" formControlName="confirmPassword" placeholder="Confirm new password">
            <div *ngIf="passwordForm.errors?.['mismatch'] && passwordForm.get('confirmPassword')?.touched">
              <div class="help-block">
                The password confirmation does not match.
              </div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
