.table-responsive {
  max-height: 600px; /* Adjust based on your needs */
  overflow-y: auto;
}


.page-header {
padding-bottom: 9px;
margin: 40px 0 20px;
border-bottom: 1px solid #eeeeee;
}
/* CSS */
.input-group.search-box {
max-width: 738px;
margin: 0 auto; /* Center align */
}

.input-group.search-box .form-control {
border-right: 0;
}

.input-group.search-box .input-group-append .input-group-text {
background-color: #eeeeee;
border-left: 0;
cursor: pointer;
height: 34px;
color: #555555
}

.input-group.search-box .input-group-append .input-group-text .fa-search {
font-size: 16px;
}

.title-colors th a,
.title-colors th a:visited {
    color: #40ACD6; /* Blue color for sortable fields */
    text-decoration: none;
    cursor: pointer;
}

.title-colors th span {
    color: black; /* Black color for non-sortable fields */
}

.title-colors th a:hover {
    color: #007bb8; /* Darker blue on hover for sortable fields */
}

.title-colors th i {
    margin-left: 4px; /* Spacing for icons */
}
.all-retrieved {
    margin: 40px 0 20px;
    border-top: 1px solid #eeeeee;
    width: 40%;
    color: #999999;
}
/* Ensures the active sorting state remains blue */
.title-colors th a[ng-reflect-router-link-active="active"] {
    color: #40ACD6;
}
.language-option {
    cursor: pointer;
  }
  
  /* Optional: Add hover styles for better visibility */
  .language-option:hover {
    background-color: #f8f9fa; /* Light background on hover */
  }
  th {
    font-weight: normal;
  }
  h2 {
    padding-top: 30px;
    font-size: 3.4rem;
    font-weight: 400;
}

.clear-search{
  font-size: 14px;
  line-height: 1.2;
}

hr {
  margin: 2rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .1;
}

.number-results{
  padding-top: 0.8rem;
}
  
