<app-modal
  [title]="'Edit ' + ('global.member.' + member.key | translate) + ' License'"
  [submitText]="submitStatus.submitSuccessful ? '' : (file ? 'Upload' : 'Update')"
  [cancelText]="submitStatus.submitSuccessful ? 'Close' : 'Cancel'"
  [alerts]="alerts"
  [isSubmitting]="submitStatus.submitting"
  [formGroup]="licenseForm"
  (onSubmit)="file ? openConfirmModal() : onSubmit()"
  (onCancel)="modal.dismiss()">

  <ng-container>
    <div class="mb-3">
      <label for="licenseName" class="form-label">License Name</label>
      <input id="licenseName"
             class="form-control"
             placeholder="Enter Name"
             formControlName="licenseName"
             [attr.disabled]="submitStatus.submitSuccessful ? true : null"/>
    </div>
    <div class="mb-3">
      <label for="licenseVersion" class="form-label">License Version</label>
      <input id="licenseVersion"
             class="form-control"
             placeholder="Enter Version"
             formControlName="licenseVersion"
             [attr.disabled]="submitStatus.submitSuccessful ? true : null"/>
    </div>
    <div class="mb-3">
      <label for="licenseFile" class="form-label">License File</label><br>
      <input id="licenseFile"
             type="file"
             (change)="onFileChange($event)"
             [attr.disabled]="submitStatus.submitSuccessful ? true : null"/>
    </div>
  </ng-container>
</app-modal>
