<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
            <h2>{{ 'views.ihtsdoReleases.title' | translate | compareText: 'IHTSDO Releases' }}</h2>
            <p>This page contains IHTSDO releases, both production and alpha/beta (technology previews), available for Members to download</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" *ngFor="let package of onlinePackages">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="panel-titles language-option" (click)="goToPackage(package)">{{ package.name }}</a>
                </h3>
            </div>
            <div class="panel-body">
                <div [innerHTML]="package.description | linkAddblank"></div>
            </div>

            <!-- Latest Versions -->
            <div class="panel-footer">
                <ng-container *ngFor="let version of package.releaseVersions | filterOnline">
                    <ng-container *ngIf="isLatestVersion(version, getOnlineVersions(package.releaseVersions))">
                        <app-ihtsdo-releases-modal [version]="version" label="{{ 'views.ihtsdoReleases.latest' | translate | compareText: 'Latest' }}"></app-ihtsdo-releases-modal>
                    </ng-container>
                </ng-container>
            </div>

            <!-- Alpha/Beta Versions -->
            <div class="panel-footer" *ngFor="let version of package.releaseVersions | filterAlphabeta">
                <app-ihtsdo-releases-modal [version]="version" label="Alpha/Beta"></app-ihtsdo-releases-modal>
            </div>

            <!-- Offline Versions -->
            <div class="panel-footer" *ngFor="let version of package.releaseVersions | filterOffline">
                <app-ihtsdo-releases-modal [version]="version" label="{{ 'views.ihtsdoReleases.offline' | translate | compareText:'Offline' }}"></app-ihtsdo-releases-modal>
            </div>
        </div>
        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && onlinePackages.length === 0">
            <i class="fa fa-exclamation-circle"></i> {{ 'views.ihtsdoReleases.noPublicReleases' | translate | compareText : 'There are currently no public releases available.' }}
        </div>
    </div>
</div>

<!-- Alpha/Beta Releases -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>Alpha/Beta Releases</h3>
        </div>
        <div class="panel panel-default" *ngFor="let package of alphabetaPackages">
            <br>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="panel-titles language-option" (click)="goToPackage(package)">
                        {{ package.name }} - {{ package.member.key | enum:'global.member.' | async }}
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <div [innerHTML]="package.description | linkAddblank"></div>
            </div>
            <div class="panel-footer" *ngFor="let version of package.releaseVersions | filterAlphabeta">
                <app-ihtsdo-releases-modal [version]="version" label="Alpha/Beta"></app-ihtsdo-releases-modal>
            </div>
        </div>
        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && alphabetaPackages.length === 0">
            <i class="fa fa-exclamation-circle"></i> There are currently no alpha/beta releases available.
        </div>
    </div>
</div>

<!-- Offline Releases -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>Offline Releases</h3>
        </div>
        <div class="panel panel-default" *ngFor="let package of offlinePackages">
            <br>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="panel-titles language-option" (click)="goToPackage(package)">
                        {{ package.name }} - {{ package.member.key | enum:'global.member.' | async }}
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <div [innerHTML]="package.description | linkAddblank"></div>
            </div>
            <div class="panel-footer" *ngFor="let version of package.releaseVersions | filterOffline">
                <app-ihtsdo-releases-modal [version]="version" label="{{ 'views.ihtsdoReleases.offline' | translate | compareText:'Offline' }}"></app-ihtsdo-releases-modal>
            </div>
        </div>
        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && offlinePackages.length === 0">
            <i class="fa fa-exclamation-circle"></i>{{ 'views.ihtsdoReleases.noOfflineReleases' | translate | compareText : ' There are currently no offline releases available.' }}
        </div>
    </div>
</div>
