body {
    padding-top: 100px; /* Adjust according to your navbar height */
}

.navbar-fixed-top {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    z-index: 1050; /* Ensure it stays on top of other content */
}

.container-fluid {
    padding: 0 15px;
}

.page-header {
    margin-top: 20px;
}

.space {
    margin-top: 10px;
}

.table-responsive {
    max-height: 600px; /* Adjust based on your needs */
    overflow-y: auto;
  }
  
  h2{
    padding-top: 30px;
    font-size: 3.4rem;
    font-weight: 400;
  }
  .page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
  // border: 1px solid;
  }
  
  .d-flex {
  display: flex;
  }
  
  .justify-content-between {
  justify-content: space-between;
  }
  
  .align-items-center {
  align-items: center;
  }
  