<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6 login">
    <h3>Unsubscribe from Notifications</h3>
    <p *ngIf="!unsubscribed && !errorMessage">Please wait while we process your unsubscribe request...</p>
    <br>
    <div *ngIf="unsubscribed" class="alert alert-success">
      <b>You have successfully unsubscribed from notifications.</b>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      <b>{{ errorMessage }}</b>
    </div>

    <p *ngIf="unsubscribed">
      <a [routerLink]="['/login']" class="btn btn-link">Back to Login</a>
    </p>
  </div>
</div>