<app-modal
  [title]="'Create or Edit a Country'"
  [submitText]="'Save'"
  [formGroup]="countryForm"
  [cancelText]="'Cancel'"
  (onSubmit)="onSubmit()"
  (onCancel)="modal.dismiss()">
  
  <ng-container *ngIf="countryForm">
    <div class="form-group">
      <label for="isoCode2">ISO Code 2</label>
      <input type="text" class="form-control" formControlName="isoCode2">
      <div *ngIf="countryForm.get('isoCode2')?.invalid && (countryForm.get('isoCode2')?.dirty || countryForm.get('isoCode2')?.touched)">
        <div *ngIf="countryForm.get('isoCode2')?.errors?.['required']">ISO Code 2 is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="isoCode3">ISO Code 3</label>
      <input type="text" class="form-control" formControlName="isoCode3">
      <div *ngIf="countryForm.get('isoCode3')?.invalid && (countryForm.get('isoCode3')?.dirty || countryForm.get('isoCode3')?.touched)">
        <div *ngIf="countryForm.get('isoCode3')?.errors?.['required']">ISO Code 3 is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="commonName">Common Name</label>
      <input type="text" class="form-control" formControlName="commonName">
      <div *ngIf="countryForm.get('commonName')?.invalid && (countryForm.get('commonName')?.dirty || countryForm.get('commonName')?.touched)">
        <div *ngIf="countryForm.get('commonName')?.errors?.['required']">Common Name is required.</div>
        <div *ngIf="countryForm.get('commonName')?.errors?.['minlength']">Common Name must be at least 1 character long.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="member">Member</label>
      <input id="member" type="text" class="form-control" formControlName="member" placeholder="Responsible Member"
             [ngbTypeahead]="searchMembers" (selectItem)="onMemberSelect($event)" [resultFormatter]="resultFormatter" [inputFormatter]="formatter">
      <div *ngIf="countryForm.get('member')?.invalid && (countryForm.get('member')?.dirty || countryForm.get('member')?.touched)">
        <div *ngIf="countryForm.get('member')?.errors?.['required']">Member is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="preventUsage">Prevent Usage?</label>
      <input type="checkbox" formControlName="excludeUsage">
    </div>

    <div class="form-group">
      <label for="alternateRegistrationUrl">Alternate registration url</label>
      <input type="text" class="form-control" formControlName="alternateRegistrationUrl">
    </div>
  </ng-container>
</app-modal>
