<app-modal
  [title]="'Edit ' + ('global.member.'+ member.key | translate) + ' Branding'"
  [submitText]="submitStatus.submitSuccessful ? '' : 'Update'"
  [cancelText]="submitStatus.submitSuccessful ? 'Close' : 'Cancel'"
  [alerts]="alerts"
  [isSubmitting]="submitStatus.submitting"
  [formGroup]="memberBrandForm"
  (onSubmit)="submit()"
  (onCancel)="activeModal.close()">

  <div class="modal-body">
    <form [formGroup]="memberBrandForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="memberName">Member Name</label>
            <input class="form-control" placeholder="Enter Member Name" formControlName="memberName" [disabled]="submitStatus.submitSuccessful"/>
        </div>
        <div class="form-group">
            <label for="logoFile">Logo Image File</label><br>
            <input type="file" (change)="onFileChange($event)" accept="image/*" [disabled]="submitStatus.submitSuccessful"/>
            <p class="help-block">Logo images should be no larger than 320px wide and 142px tall, and preferably have a transparent background.</p>
        </div>
    </form>
</div>
</app-modal>

