<app-modal
  [title]="'Edit ' + ('global.member.' + member.key | translate) + ' Notifications'"
  [submitText]="'Update'"
  [cancelText]="'Cancel'"
  [alerts]="alerts"
  [isSubmitting]="submitStatus.submitting"
  [formGroup]="memberForm"
  (onSubmit)="onSubmit()"
  (onCancel)="activeModal.dismiss()"
>

  <div class="form-group">
    <label for="staffNotificationEmail">Member Notifications Email</label>
    <input
      id="staffNotificationEmail"
      class="form-control"
      type="email"
      placeholder="Enter Notifications Email"
      formControlName="staffNotificationEmail"
      [disabled]="submitStatus.submitSuccessful"
    />
    <div *ngIf="memberForm.get('staffNotificationEmail')?.errors?.['email']" class="help-block">
      Invalid email address
    </div>
    <p class="help-block">Mailing list email address that member notifications will be sent to.</p>
  </div>
</app-modal>
