<app-modal 
  [title]="'views.releases.releasePackageLicense' | translate | compareText:'Release Package License'" 
  [cancelText]="'global.word.cancel' | translate | compareText:'Cancel'"
  [submitText]="'global.word.download' | translate | compareText:'Download'"
  (onCancel)="onCancel()"
  [formGroup]="null"
  [isSubmitting]="isSubmitting"
  [buttonDisabled]="!isLicenseAccepted"
  (onSubmit)="onDownload()">
  
  <div modal-body>
    <p>
      <span>{{ 'views.releases.reviewLicense' | translate }}</span>
    </p>
    <button class="btn btn-muted btn-default btn-block" (click)="viewReleaseLicense()">
      {{ releasePackage.name }} <span>{{ 'global.word.license' | translate | compareText:'License' }}</span>
    </button>
    <br><br>
    <label class="license-label">
      <input type="checkbox" [(ngModel)]="isLicenseAccepted" value="1">
      <span>{{ 'views.releases.agreeToLicense' | translate | compareText:'I agree to the license' }}</span>
    </label>
  </div>

 
  
</app-modal>

