h1 {
    font-size: 3rem;
    font-weight: 300;
    padding-top: 6rem;
}
.row{
    padding-bottom: 30rem;
}
.alert-success {
    background-color: #ffffff;
    border-color: #3cb878;
    color: #3cb878;
}
.alert-warning,
.alert-danger {
    background-color: #ffffff;
    border-color: #f26c4f;
    color: #f26c4f;
}