<app-modal
  [title]="'Add Release'"
  [formGroup]="formPackage"
  [submitText]="'Add'"
  [cancelText]="'Cancel'"
  [isSubmitting]="submitting"
  [alerts]="alerts"
  [iconClass]="'fa fa-plus'"
  (onSubmit)="ok()"
  (onCancel)="close()"
  >


  <div class="form-group">
    <label for="name">Name<span class="text-danger">*</span></label>
    <input
      #nameInput
      type="text"
      id="name"
  
      class="form-controls form-control"
      placeholder="Enter Release Name"
      formControlName="name"
      required
    />
    <div *ngIf="formPackage.get('name')?.invalid && submitAttempted" class="help-block">
      Required Field
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <quill-editor id="Description" formControlName="description" [style]="{'height': '200px','width':'780px'}" bounds="self"></quill-editor>
  </div>

  <div class="form-group" *ngIf="isAdmin">
    <label for="member">Member</label>
    <select id="member" class="form-select" formControlName="member">
      <option *ngFor="let m of members" [ngValue]="m">{{ m.key }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="releasePackageURI">Release Package URI</label>
    <input type="text" id="releasePackageURI" class="form-control" placeholder="Enter Release Package URI" formControlName="releasePackageURI" />
  </div>

  <div class="form-group">
    <label for="copyrights">Copyrights</label>
    <textarea id="copyrights" class="form-control" rows="3" formControlName="copyrights" style="resize: both;"></textarea>
  </div>

</app-modal>
