<div *ngIf="!loading">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <span class="language-option"><a (click)="goToAffiliateManagement()"><i class="fa fa-angle-double-left"></i> Back to Affiliate
            Management</a></span>
        <h1>
          {{(affiliate.affiliateDetails.organizationName) ? affiliate.affiliateDetails.organizationName :
          affiliate.affiliateDetails.firstName + ' ' + affiliate.affiliateDetails.lastName}}
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let alert of alerts" class="alert"
        [ngClass]="{'alert-success': alert.type === 'success', 'alert-danger': alert.type === 'danger'}">{{alert.msg}}
      </div>
    </div>

    <div class="col-sm-12" *ngIf="!affiliate.creator && isAdmin">
      <div class="alert alert-warning">
        <button class="btn btn-sm btn-success float-end" (click)="createLogin()">
          Create Login
        </button>
        User does not have a login
      </div>
    </div>


    <div class="col-md-8">
      <div class="applicant-info">

        <div *ngIf="!isEditable" class="alert alert-warning">
          You can view applications submitted to other Member Registration Centers, but you cannot process them.
        </div>
        <p><strong>Affiliate No:</strong> {{affiliate.affiliateId}}</p>
        <hr>

        <app-affiliate-details-summary [affiliate]="affiliate"
          [isEditable]="isEditable"></app-affiliate-details-summary>
          <div class="col-sm-12">
            <app-usage-reports-table [affiliate]="affiliate"></app-usage-reports-table>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <form [formGroup]="notesForm" (ngSubmit)="saveNotes()">
        <div class="form-group">
          <div class="float-end" *ngIf="submitting"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
        <div class="form-group">
          <label class="notes-button" htmlFor="staff-notes"><b>Staff Notes</b></label>
          <button class="btn-successs" type="submit" [disabled]="submitting || !isEditable">
            Save
          </button>
          <textarea class="form-control" contenteditable rows="10" formControlName="notesInternal"
            [attr.disabled]="!isEditable ? true : null" style="resize: both;">
          </textarea>
        </div>
      </form>

      <div class="action-buttons">
        <button class="btn btn-primary btn-block"
          [disabled]="standingStateUtilsService.isInvoiceSent(affiliate.standingState)"
          (click)="invoiceSent()">Invoice</button>
        <button class="btn btn-danger btn-block"
          [disabled]="!standingStateUtilsService.isApplying(affiliate.standingState)" (click)="deleteAffiliate()">{{'views.affiliateSummary.deleteAffiliate' | translate | compareText :'Delete Affiliate'}}</button>
      </div>


      <div class="accordion" id="applicationHistoryAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Application History
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#applicationHistoryAccordion">
            <div class="accordion-body">
              <ul class="list-group">
                <li *ngFor="let application of affiliate.applications | orderBy:'submittedAt':'createdAt'"
                  class="list-group-item">
                  <div class="row">
                    <div class="col-4">
                      <strong>{{'application.applicationType.' + application?.applicationType | translate }}</strong><br>

                      <small>{{ application.submittedAt | date: 'yyyy-MM-dd' }}</small>
                    </div>
                    <div class="col-2" [ngClass]="{
                                   'text-warning': isApplicationPending(application),
                                   'text-danger': isApplicationWaitingForApplicant(application)
                                 }" style="margin-top: 0.5em;">
                     <strong>{{'approval.state.'+ application.approvalState | translate}}</strong>
                     
                           
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                      <button class="btn btn-primary btn-sm" style="font-size: 1rem;" *ngIf="isApplicationApproved(application)"
                        (click)="viewApplication(application)">
                        <i class="fa fa-eye"></i> Application
                      </button>
                      <button class="btn btn-primary btn-sm" style="font-size: 1rem;" *ngIf="!isApplicationApproved(application)"
                        (click)="approveApplication(application)">
                        <i class="fa fa-warning"></i> Application
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Account Activity</h3>
      <app-audits-embed [audits]="audits"></app-audits-embed>
    </div>
  </div>
</div>