<app-modal
  [title]="title"
  [formGroup]="formGroup"
  [submitText]="'global.word.delete' | translate | compareText:'Remove'"
  [cancelText]="'global.word.cancel' | translate | compareText:'Cancel'"
  [alerts]="alerts"
  [isSubmitting]="submitting"
  (onSubmit)="removeInstitution()"
  (onCancel)="cancel()"
>
  <p modal-body>
    <span>{{ 'views.usageLog.institutions.modal.sure' | translate | compareText: 'Are you sure you want to remove' }}</span>&nbsp;
    <strong>{{ institution.name }}</strong>&nbsp;
    <span>{{ 'global.word.from' | translate | compareText: 'from' }}</span>
    {{ 'global.country.' + country?.isoCode2 | translate }}?
  </p>
</app-modal>
