<div *ngIf="isLoading" class="loader-center">
<app-loader></app-loader>
</div>

<div *ngIf="!isLoading">
<div class="row" *ngIf="!(anySubmittedUsageReports || affiliate?.application?.approvalState === 'REJECTED')">
	<div class="col-sm-12">
		<div class="alert alert-danger space" role="alert">
			<div><strong >{{'views.userDashboard.warning.required.title'|translate|compareText:'Usage Declaration Required'}}</strong>
			</div>
			<p >{{'views.userDashboard.warning.required.msg' | translate}}</p>
		</div>
	</div>
</div>


<div class="row space" *ngIf="affiliate?.application?.approvalState === 'CHANGE_REQUESTED'">
	<div class="col-sm-12">
		<div class="alert alert-warning" role="alert">
			<div><strong>{{'views.userDashboard.warning.change.title'|translate}}</strong></div>
			<p>{{'views.userDashboard.warning.required.msg'|translate}}
			</p>
		</div>
	</div>
</div>

<div class="row" *ngIf="isRejected">
	<div class="col-sm-12">
		<div class="alert alert-danger" role="alert">
			<div><strong>{{'views.userDashboard.warning.declined.title'|translate|compareText:'Affiliate Registration Declined'}}</strong>
			</div>
			<p>{{'views.userDashboard.warning.declined.msg'|translate}}</p>
		</div>
	</div>
</div>

<div class="row" *ngIf="isDeactivated">
	<div class="col-sm-12">
		<div class="alert alert-danger space" role="alert">
			<div><strong>{{ 'views.userDashboard.warning.deactivated.title' | translate}}</strong></div>
			<p [innerHTML]=" 'views.userDashboard.warning.deactivated.msg' | translate "></p>
			  
		</div>
	</div>
</div>

<div class="row" *ngIf="isPendingInvoice">
	<div class="col-sm-12">
		<div class="alert alert-danger space" role="alert">
			<div><strong>{{'views.userDashboard.warning.iPending.title'|translate|compareText:'Account Pending Invoice'}}</strong></div>
			<p [innerHTML]="'views.userDashboard.warning.iPending.msg'|translate"></p>
		</div>
	</div>
</div>

<div class="row" *ngIf="isDeactivationPending">
	<div class="col-sm-12">
		<div class="alert alert-danger space" role="alert">
			<div><strong>{{'views.userDashboard.warning.dPending.title'|translate|compareText:'Account Deactivation Pending'}}</strong>
			</div>
			<p [innerHTML]="'views.userDashboard.warning.dPending.msg'|translate"></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1><span>{{'global.word.welcome'|translate|compareText:'Welcome'}}</span> {{firstName}} {{lastName}}</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<app-usage-reports-table [affiliate]="affiliate" [showAllColumns]="false"
			[showViewAll]="true"></app-usage-reports-table>
	</div>

	<div class="col-lg-4">
		<div class="panel panel-default dashboard">
			<div class="panel-heading">
				<h3 class="panel-title">{{'global.menu.applications'|translate|compareText:'Applications'}}</h3>
			</div>
			<div class="table-responsive user-dashboard-item">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>{{'global.word.type'|translate|compareText:'Type'}}</th>
							<th>{{'global.word.date'|translate|compareText:'Date'}}</th>
							<th>{{'global.word.status'|translate|compareText:'Status'}}</th>
							<th>{{'global.word.view'|translate|compareText:'View'}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let application of affiliate?.applications">
							<td>
								{{'application.applicationType.'+application.applicationType|translate}}
								<span
									*ngIf="application.applicationType === 'EXTENSION'">({{'global.member.'+application.member.key|translate}})</span>
							</td>
							<td>{{(application.completedAt || application.submittedAt) | date:'yyyy-MM-dd' }}</td>
							<td>
								<strong>{{'approval.state.'+application.approvalState|translate}}</strong>
							</td>
							<td>
								<span *ngIf="application.applicationType === 'EXTENSION'">
									<a *ngIf="isApplicationWaitingForApplicant(application)"
										class="btn btn-warning btn-sm">
										<i class="fa fa-edit"></i> <span>{{'global.word.edit'|translate|compareText:'Edit'}}</span>
									</a>
									<a *ngIf="!isApplicationWaitingForApplicant(application)"
										class="btn btn-primary btn-sm" (click)="viewApplication(application)">
										<i class="fa fa-eye"></i> <span translate="">{{'global.word.edit'|translate|compareText:'Edit'}}</span>
									</a>
								</span>
								<a class="btn btn-primary btn-sm" *ngIf="application.applicationType === 'PRIMARY'"
									(click)="viewApplication(application)">
									<i class="fa fa-eye"></i> <span>{{'global.word.edit'|translate|compareText:'Edit'}}</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="panel panel-default dashboard">
			<div class="panel-heading">
				<h3 class="panel-title">{{'views.contactInfo.title'|translate|compareText:'Account Information'}}</h3>
			</div>

			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item"><strong>{{'views.userDashboard.affiliateNo'|translate|compareText:'Affiliate No'}}:</strong> {{affiliate?.affiliateId}}</li>
					<li class="list-group-item" *ngIf="wasApproved(affiliate?.standingState)">
						<strong>{{'views.contactInfo.admin.usageType.name'|translate|compareText:'Type'}}:</strong>
						{{'affiliate.type.'+affiliate?.affiliateDetails?.type|translate}}
					</li>
					<li class="list-group-item" *ngIf="wasApproved(affiliate?.standingState)">
						<strong>{{'views.contactInfo.admin.subtype.name'|translate|compareText:'Subtype'}}:</strong>
						{{'affiliate.subType.'+affiliate?.affiliateDetails?.subType|translate}}
						<span
							*ngIf="affiliate?.affiliateDetails?.type == 'OTHER'">{{affiliate?.affiliateDetails?.otherText}}</span>
					</li>
					<li class="list-group-item" *ngIf="wasApproved(affiliate?.standingState)">
						<strong>{{'views.contactInfo.admin.agreementType'|translate|compareText:'Agreement Type'}}:</strong>
						{{'affiliate.agreementType.'+affiliate?.affiliateDetails?.agreementType|translate}}
					</li>
				</ul>
				<div *ngIf="affiliate?.standingState">
					<span class="alert alert-success btn-block" *ngIf="isSuccessCategory(affiliate?.standingState)">
						<strong>{{'views.contactInfo.admin.accountStanding'|translate|compareText:'Account Standing'}}:</strong>
						{{'affiliate.standingState.'+affiliate?.standingState|translate}}</span>
					<span class="alert alert-warning btn-block" *ngIf="isWarningCategory(affiliate?.standingState)">
						<strong>{{'views.contactInfo.admin.accountStanding'|translate|compareText:'Account Standing'}}:</strong>
						{{'affiliate.standingState.'+affiliate.standingState|translate}}</span>
					<span class="alert alert-danger btn-block" *ngIf="isDangerCategory(affiliate?.standingState)">
						<strong>{{'views.contactInfo.admin.accountStanding'|translate|compareText:'Account Standing'}}:</strong>
						{{'affiliate.standingState.'+affiliate.standingState|translate}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>
				<span>{{'views.userDashboard.myPackages'|translate|compareText:'My Release Packages'}} </span>
				<a href="#/viewReleases" class="btn btn-link">
					<span>{{'global.word.viewAll'|translate|compareText:'View All'}}</span>
					<i class="fa fa-angle-double-right"></i>
				</a>
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4" *ngFor="let memberReleases of approvedReleasePackagesByMember">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> {{'global.member.'+memberReleases.member.key|translate}}</h3>
			</div>
			<table class="table table-hover">
				<tr *ngFor="let releasePackage of getSortedApplications()">
					<td class="break-text">
						<a
							href="#/viewReleases/viewRelease/{{releasePackage.releasePackageId}}">{{releasePackage.name}}</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>


<div class="row" *ngIf="notApprovedReleasePackagesByMember.length > 0">
	<div class="col-lg-12">
		<h3>{{'views.userDashboard.otherPackages'|translate|compareText:'Other Available Releases'}}</h3>
	</div>
	<div *ngFor="let memberReleases of notApprovedReleasePackagesByMember">
		<a href="#/viewReleases#{{'section-'+memberReleases.packages[0].member.key}}" class="btn btn-link">
			{{'global.member.'+memberReleases.packages[0].member.key|translate}}
		</a>
	</div>
</div>
</div>