<app-modal
  [title]="'Replace Terms & Conditions'"
  [submitText]="'Upload and Replace'"
  [cancelText]="'Cancel'"
  [alerts]="alerts"
  [isSubmitting]="submitting"
  [iconClass]="'fa fa-upload'"
  (onSubmit)="ok()"
  (onCancel)="activeModal.dismiss()">
  <div modal-body>
    <p>
      Are you sure you want to replace the current license 
      <b>{{member.licenseName}}</b> 
      <b> {{member.licenseVersion}}</b> for 
      <b>{{'global.member.'+member.key | translate}} </b> 
      with the uploaded license file?
    </p>
  </div>  
</app-modal>
