<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" (click)="cancel()">&times;</button>
    <!-- Modal title -->
  </div>
  
  <div class="modal-body">
    <div *ngFor="let alert of alerts" class="alert" [ngClass]="'alert-' + alert.type">
      {{alert.msg}}
    </div>
  
    <p>
      <span>{{'views.usageLog.institutions.modal.sure'|translate|compareText:'Are you sure you want to remove'}}</span>
      <strong>{{ 'global.country.' + count?.country?.isoCode2 |translate }}</strong>
      <span ></span>
      {{'views.usageLog.institutions.modal.andEntries'|translate|compareText:'and its associated entries?'}}
    </p>
  
    <dl class="dl-horizontal">
      <dt>{{'views.usageLog.institutions.country'|translate|compareText:'Country'}}</dt>
      <dd>{{ count?.country?.commonName }}</dd>
      <dt>{{'views.usageLog.institutions.hospAndInst.plural'|translate|compareText:'Hospitals/Institutions'}}</dt>
      <dd>{{ hospitalsCount | number }}</dd>
      <dt>{{'views.usageLog.institutions.practices'|translate|compareText:'Practices'}}</dt>
      <dd>{{ practicesCount | number }}</dd>
    </dl>
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-link" (click)="cancel()" [disabled]="submitting">
      {{'global.word.cancel'|translate|compareText:'Cancel'}}
    </button>
    
    <button class="remove-button" (click)="submit()" [disabled]="submitting">
      <span>{{'global.word.delete'|translate|compareText:'Remove'}}</span>
      <span *ngIf="submitting">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
    </button>
  </div>
  