
   <app-modal 
   
  [cancelText]="'global.word.cancel' | translate | compareText:'Cancel'"
  [submitText]="'global.word.delete' | translate | compareText:'Remove'"
  (onCancel)="cancel()"
  [formGroup]="formGroup"
  [isSubmitting]="submitting"
  (onSubmit)="submit()">

  <div *ngFor="let alert of alerts" class="alert" [ngClass]="'alert-' + alert.type">
    {{ alert.msg }}
  </div>
  <div modal-body>
  <p>
    <span>{{ 'views.usageLog.institutions.modal.sure' | translate | compareText:'Are you sure you want to remove' }}</span>
    <b>{{ 'global.country.' + count?.country?.isoCode2 | translate }}</b>
    <span></span>
    {{ 'views.usageLog.institutions.modal.andEntries' | translate | compareText:'and its associated entries?' }}
  </p>

  <dl class="dl-horizontal">
    <dt>{{ 'views.usageLog.institutions.country' | translate | compareText:'Country' }}&nbsp;&nbsp;</dt>
    <dd>{{ count?.country?.commonName }}</dd>
    <dt>{{ 'views.usageLog.institutions.hospAndInst.plural' | translate | compareText:'Hospitals/Institutions' }}&nbsp;&nbsp;</dt>
    <dd>{{ hospitalsCount | number }}</dd>
    <dt>{{ 'views.usageLog.institutions.practices' | translate | compareText:'Practices' }}&nbsp;&nbsp;</dt>
    <dd>{{ practicesCount | number }}</dd>
  </dl>
  </div>
</app-modal>
