<app-modal
  [title]="'Confirm Publishing Version'"
  [alerts]="alerts"
  [cancelText]="'No'"
  [submitText]="'Yes'"
  [isSubmitting]="submitting"
  (onCancel)="close()"
  (onSubmit)="ok()">

  <ng-container modal-body>
    <div *ngFor="let alert of alerts" class="alert" [ngClass]="{'alert-success': alert.type === 'success', 'alert-danger': alert.type === 'danger'}">
      {{ alert.msg }}
      <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert(alert)"></button>
    </div>
    <p>Please verify that you have selected the correct version before publishing:</p>
    <div>
      <label>Package Name: </label>
      <span> {{ releasePackage.name }}</span>
    </div>
    <div>
      <label>Package Version: </label>
      <span> {{ releaseVersion.name }}</span>
    </div>
    <br>
    <form class="space">
      <div>
        <label>
          <input type="checkbox" name="notifyAffiliates" [(ngModel)]="notify.notifyAffiliates">
          Notify by email, all the affiliates who have access to versions in this release
        </label>
      </div>
    </form>
  </ng-container>

</app-modal>
