<div class="row" id="email-verification">
    <div class="col-12">
      <div class="container" id="welcome">
        <h1>
          <i class="fa fa-envelope"></i>&nbsp;
          <span>{{ 'register.emailVerification.intro' | translate | compareText: "We've sent you an email." }}</span>

        </h1>
        <p>{{ 'register.emailVerification.detail' | translate | compareText: "Please open the email we have just sent you to verify your account and get access to the MLDS" }}.</p>
      </div>
    </div>
  </div>
  