<app-modal  [title]="title"
[formGroup]="form"
[submitText]="'global.word.add' | translate | compareText :'Add'"
[cancelText]="'global.word.cancel' | translate | compareText:'Cancel'"
[isSubmitting]="submitting"
(onSubmit)="add()"
[iconClass]="'fa fa-plus'"
(onCancel)="cancel()"
>
<div *ngIf="country">
  <h3><strong>{{ 'global.country.' + country?.isoCode2 | translate }}</strong></h3>
</div>

<!-- Injecting custom form fields -->
<div class="row">
  <div class="col-md-6 form-group">
    <label for="name"><b>{{ 'views.usageLog.institutions.modal.subtitle' | translate | compareText: 'Hospital/Institution Name' }}</b></label>
    <input
      id="name"
      formControlName="name"
      class="form-control"
      placeholder="{{ 'views.usageLog.institutions.modal.placeholder' | translate }}"
    />
    <div *ngIf="form.controls['name']?.invalid && submitAttempted" class="text-danger">
      {{ 'form.requiredField' | translate | compareText: 'Required Field' }}
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-4 form-group">
    <h4 class="title">{{ 'views.usageLog.institutions.started' | translate | compareText: 'Started to Use' }}</h4>
    <div class="input-group datepicker">
      <input
        type="text"
        class="form-control"
        formControlName="startDate"
        ngbDatepicker
        #startDate="ngbDatepicker"
        (click)="startDate.toggle()"
      />
      <span class="input-group-text">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
    <div *ngIf="form.controls['startDate']?.invalid && submitAttempted" class="text-danger">
      {{ 'form.requiredField' | translate | compareText: 'Required Field' }}
    </div>
  </div>

  <div class="col-md-4 form-group">
    <h4 class="title">{{ 'views.usageLog.institutions.finished' | translate | compareText: 'Ceased Use' }}</h4>
    <div class="input-group datepicker">
      <input
        type="text"
        class="form-control"
        formControlName="endDate"
        ngbDatepicker
        #endDate="ngbDatepicker"
        (click)="endDate.toggle()"
      />
      <span class="input-group-text">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
    <div *ngIf="form.controls['endDate']?.hasError('dateAfter') && submitAttempted" class="text-danger">
      {{ 'views.usageLog.institutions.modal.dateBefore' | translate | compareText: 'Date before Started to Use date' }}
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-8 form-group">
    <label for="note" class="title">{{ 'global.word.note' | translate | compareText: 'Note' }}</label>
    <textarea
      id="note"
      formControlName="note"
      class="form-control"
      rows="4"
    ></textarea>
  </div>
</div>

</app-modal>