<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="page-header">
          <h1 translate="">{{'views.releases.title'|translate}}</h1>
          <p *ngIf="!sessionService.isAuthenticated()">
            <span>
              <p [innerHTML]="'views.releases.noAuth' | translate: { loginLink: '<a href=\'#/login\'>', registerLink: '<a href=\'#/register\'>' }"></p>

            </span>
           
          </p>
          
      </div>
  </div>
</div>


<div *ngFor="let memberReleases of releasePackagesByMember | sortLimit: memberPackageService.orderByJustName : 1">
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="release-header">
      <h2 >
        {{'global.member.'+memberReleases.member.key | translate}}
        <a class="btn btn-sm btn-link" (click)="viewLicense(memberReleases.packages[0].member.key)">{{'global.word.viewlicense'|translate|compareText:'View License'}}</a>
      </h2>
    </div>
  </div>
</div>
<div class="row" *ngFor="let releasePackage of memberReleases.packages">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default release-package">
      <div class="panel-heading">				
          <div>
            <h3 class="panel-title"><span class="panel-title-link" (click)="goToViewPackagePage(releasePackage.releasePackageId)">{{releasePackage.name}}</span></h3>
          </div>
          <span  *ngIf="sessionService.isAuthenticated() && isAccountDeactivated" class="badge bg-danger float-end"
          >
          {{'views.releases.warning.deactivated' | translate |compareText:'Account Deactivated'}}
          </span>

          <span  *ngIf="sessionService.isAuthenticated() && isPendingInvoice && userAffiliateService.isMembershipApproved(memberReleases.member)" class="badge bg-danger float-end"
          >
          {{'views.releases.warning.pending'  | translate |compareText: 'Pending Invoice'}}
          </span>

          <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationWaitingForApplicant" class="badge bg-warning float-end"
          >
         {{ 'views.releases.warning.pAttention'| translate |compareText:' Primary application needs attention'}}
          </span>

          <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && !isPrimaryApplicationWaitingForApplicant && !isPrimaryApplicationApproved" class="badge bg-danger float-end"
          >
         {{'views.releases.warning.pProcessed'  | translate |compareText:' Primary application is being processed'}}
          </span>

          <button class="edit-button" *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipUnstarted(memberReleases.member)" 
          (click)="packageUtilService.openExtensionApplication(releasePackage)">
          {{'views.releases.warning.apply' | translate |compareText:'Apply for extension'}}
          </button>

          <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && !isApplicationWaitingForApplicant(memberReleases)" class="badge bg-danger float-end"
          >
          {{'views.releases.warning.apply' | translate |compareText:'Application being processed'}}
          </span>

          <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && isApplicationWaitingForApplicant(memberReleases)" class="badge bg-warning float-end"
          >
          {{'views.releases.warning.aAttention' | translate |compareText:'Application needs attention, click to continue application'}}
          </span>          
        </div>
      </div>
      <div class="panel-body">
        <div [innerHTML]="releasePackage.description"></div>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="sessionService.isAuthenticated()">
<div *ngFor="let memberReleases of alphaReleasePackagesByMember | sortLimit: memberPackageService.orderByJustName : 1">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="release-header">
        <h2 >
          {{'global.member.'+memberReleases.member.key| translate}} - Alpha/Beta Releases
          <a class="btn btn-sm btn-link" (click)="viewLicense(memberReleases.packages[0].member.key)">{{'global.word.viewlicense' | translate |compareText:'View License'}}</a>
        </h2>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let releasePackage of memberReleases.packages">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default release-package">
        <div class="panel-heading">				
            <div>
              <h3 class="panel-title"><span class="panel-title-link" (click)="goToViewPackagePage(releasePackage.releasePackageId)">{{releasePackage.name}}</span></h3>
            </div>
            <span  *ngIf="sessionService.isAuthenticated() && isAccountDeactivated" class="badge bg-danger float-end"
            >
            {{'views.releases.warning.deactivated' | translate |compareText:'Account Deactivated'}}
            </span>
  
            <span  *ngIf="sessionService.isAuthenticated() && isPendingInvoice && userAffiliateService.isMembershipApproved(memberReleases.member)" class="badge bg-danger float-end"
            >
            {{'views.releases.warning.pending'  | translate |compareText: 'Pending Invoice'}}
            </span>
  
            <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationWaitingForApplicant" class="badge bg-warning float-end"
            >
            {{ 'views.releases.warning.pAttention'| translate |compareText:' Primary application needs attention'}}
            </span>
  
            <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && !isPrimaryApplicationWaitingForApplicant && !isPrimaryApplicationApproved" class="badge bg-danger float-end"
            >
            {{'views.releases.warning.pProcessed'  | translate |compareText:' Primary application is being processed'}}
            </span>
  
            <button class="edit-button"  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipUnstarted(memberReleases.member)"
            (click)="packageUtilService.openExtensionApplication(releasePackage)">
            {{'views.releases.warning.apply' | translate |compareText:'Apply for extension'}}
            </button>
  
            <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && !isApplicationWaitingForApplicant(memberReleases)" class="badge bg-danger float-end"
            >
            {{'views.releases.warning.apply' | translate |compareText:'Application being processed'}}
            </span>
  
            <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && isApplicationWaitingForApplicant(memberReleases)" class="badge bg-warning float-end"
            >
            {{'views.releases.warning.aAttention' | translate |compareText:'Application needs attention, click to continue application'}}
            </span>          
          </div>
        </div>
        <div class="panel-body">
          <div [innerHTML]="releasePackage.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>





<div class="row">
  <div class="col-12">
      <div class="release-divider">
          <h2>{{'views.releases.memberCountries'|translate|compareText:'Member Countries'}}</h2>
          <p>
            {{ 'views.releases.countryIsMissing' | translate | compareText: "If the country you're looking for is not in this list, please refer to the IHTSDO website for release download information." }}
            <a href="http://www.ihtsdo.org/">
              {{ 'global.word.ihtsdoWebsite' | translate | compareText: 'IHTSDO website' }}
            </a>
          </p>
           </div>
  </div>
</div>


<div class="accordion" id="accordionExample">
  <div *ngFor="let memberReleases of releasePackagesByMember; let i = index">
      <div *ngIf="i > 0">
          <div class="accordion-item">
              <h2 class="accordion-header" [id]="'heading-' + memberReleases.member.key">
                  <button class="accordion-button" type="button" (click)="toggleAccordion(i)">
                      <span>{{'global.member.'+ memberReleases.member.key |translate}}</span>
                      <a class="btn btn-sm btn-link" (click)="viewLicense(memberReleases.packages[0].member.key)">
                          {{'global.word.viewlicense'| translate |compareText:'View License'}}
                      </a>
                  </button>
              </h2>
              <div *ngIf="isAccordionOpen(i)" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                      <div *ngFor="let releasePackage of memberReleases.packages">
                          <div class="d-flex justify-content-between">
                            <div class="panel-heading">
                              <h3>
                                  <a class="text-decoration-none" (click)="goToViewPackagePage(releasePackage.releasePackageId)">
                                      {{ releasePackage.name }}
                                  </a>

                                  <span  *ngIf="sessionService.isAuthenticated() && isAccountDeactivated" class="badge bg-danger float-end"
                                  >
                                  {{'views.releases.warning.deactivated' | translate |compareText:'Account Deactivated'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && isPendingInvoice && userAffiliateService.isMembershipApproved(memberReleases.member)" class="badge bg-danger float-end"
                                  >
                                  {{'views.releases.warning.pending'  | translate |compareText: 'Pending Invoice'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationWaitingForApplicant" class="badge bg-warning float-end"
                                  >
                                  {{ 'views.releases.warning.pAttention'| translate |compareText:' Primary application needs attention'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && !isPrimaryApplicationWaitingForApplicant && !isPrimaryApplicationApproved" class="badge bg-danger float-end"
                                  >
                                  {{'views.releases.warning.apply' | translate |compareText:'Application being processed'}}
                                  </span>
                        
                                  <button class="greenbutton" *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipUnstarted(memberReleases.member)" 
                                  (click)="packageUtilService.openExtensionApplication(releasePackage)">
                                  {{'views.releases.warning.apply' | translate |compareText:'Apply for extension'}}
                                  </button>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && !isApplicationWaitingForApplicant(memberReleases)" class="alert-danger-flag pull-right ng-scope"
                                  >
                                  {{'views.releases.warning.apply' | translate |compareText:'Application being processed'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && isApplicationWaitingForApplicant(memberReleases)" class="badge bg-warning float-end"
                                  >
                                  {{'views.releases.warning.aAttention' | translate |compareText:'Application needs attention, click to continue application'}}
                                  </span>        
                              </h3>
                            </div>
                          </div>
                          <div style="border-top: 4px solid #8dccdc; padding-top: 5px;">
                              <div [innerHTML]="releasePackage.description"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<br><br>

<div *ngIf="sessionService.isAuthenticated()">
<div class="row">
  <div class="col-12">
      <div class="release-divider">
          <h2>{{'views.releases.memberCountries'|translate|compareText:'Member Countries'}} -Alpha/Beta Releases</h2>
          <p>
            {{ 'views.releases.countryIsMissing' | translate | compareText: "If the country you're looking for is not in this list, please refer to the" }}
            <a href="http://www.ihtsdo.org/">
              {{ 'global.word.ihtsdoWebsite' | translate | compareText: 'IHTSDO website' }}
            </a>
            {{ 'views.releases.countryIsMissing2' | translate | compareText: "for release download information." }}
          </p>
          </div>
  </div>
</div>


<div class="accordion" id="accordionExample">
  <div *ngFor="let memberReleases of alphaReleasePackagesByMember; let i = index">
      <div *ngIf="i > 0">
          <div class="accordion-item">
              <h2 class="accordion-header" [id]="'heading-' + memberReleases.member.key">
                  <button class="accordion-button" type="button" (click)="toggleAccordion(i)">
                      <span>{{'global.member.'+ memberReleases.member.key |translate}}</span>
                      <a class="btn btn-sm btn-link" (click)="viewLicense(memberReleases.packages[0].member.key)">
                          {{'global.word.viewlicense'|translate|compareText:'View License'}}
                      </a>
                  </button>
              </h2>
              <div *ngIf="isAccordionOpen(i)" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                      <div *ngFor="let releasePackage of memberReleases.packages">
                          <div class="d-flex justify-content-between">
                            <div class="panel-heading">
                              <h3>
                                  <a class="text-decoration-none" (click)="goToViewPackagePage(releasePackage.releasePackageId)">
                                      {{ releasePackage.name }}
                                  </a>

                                  <span  *ngIf="sessionService.isAuthenticated() && isAccountDeactivated" class="badge bg-danger float-end"
                                  >
                                  {{'views.releases.warning.deactivated' | translate |compareText:'Account Deactivated'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && isPendingInvoice && userAffiliateService.isMembershipApproved(memberReleases.member)" class="badge bg-danger float-end"
                                  >
                                  {{'views.releases.warning.pending'  | translate |compareText: 'Pending Invoice'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationWaitingForApplicant" class="badge bg-warning float-end"
                                  >
                                  {{ 'views.releases.warning.pAttention'| translate |compareText:' Primary application needs attention'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && !isPrimaryApplicationWaitingForApplicant && !isPrimaryApplicationApproved" class="badge bg-danger float-end"
                                  >
                                  {{'views.releases.warning.pProcessed'  | translate |compareText:' Primary application is being processed'}}
                                  </span>
                        
                                  <button class="edit-button" *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipUnstarted(memberReleases.member)" 
                                  (click)="packageUtilService.openExtensionApplication(releasePackage)">
                                  {{'views.releases.warning.apply' | translate |compareText:'Apply for extension'}}
                                  </button>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && !isApplicationWaitingForApplicant(memberReleases)" class="badge bg-danger float-end"
                                  >
                                  {{'views.releases.warning.apply' | translate |compareText:'Application being processed'}}
                                  </span>
                        
                                  <span  *ngIf="sessionService.isAuthenticated() && !isAccountDeactivated && isPrimaryApplicationApproved && !isIHTSDOPackage(memberReleases.member) && isMembershipIncomplete(memberReleases.member) && isApplicationWaitingForApplicant(memberReleases)" class="badge bg-warning float-end"
                                 >
                                  {{'views.releases.warning.aAttention' | translate |compareText:'Application needs attention, click to continue application'}}
                                  </span>        
                              </h3>
                            </div>
                          </div>
                          <div style="border-top: 4px solid #8dccdc; padding-top: 5px;">
                              <div [innerHTML]="releasePackage.description"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>


