
<!-- back to releases button -->
<div class="row">
    <div class="col-md-12">
        <div class="page-header header">
            <span class="back language-option"><a (click)="goToViewPackages()" style="color: #53baf2;"><i class="fa fa-angle-double-left">&nbsp;</i>{{'views.ihtsdoReleases.backToReleases' | translate}}</a></span>
          
          </div>
        
            
    </div>
</div>

<!-- release package details -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
            <h2>{{releasePackage.name}} 
                <button class="btn btn-sm btn-link" (click)="viewLicense(releasePackage.member.key)">
                    <span>{{'global.word.viewlicense' | translate | compareText : 'View License'}}</span>
                </button>
            </h2>
            <div [innerHTML]="releasePackage.description"></div>
        </div>
    </div>
</div>
<!-- public versions -->
<div class="row">
    <div class="col-md-12">
        <h3>{{ 'views.ihtsdoReleases.publicVersions' | translate | compareText : 'Public Versions' }}</h3>

        <app-ihtsdo-release-version-modal *ngFor="let releaseVersion of releaseVersions.online" [releaseVersion]="releaseVersion"></app-ihtsdo-release-version-modal>

        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && releaseVersions.online.length == 0">
            <i class="alert-warning fa fa-exclamation-circle"></i> &nbsp;
            <span>{{ 'views.ihtsdoReleases.noOnlineVersions' |translate | compareText : 'There are currently no online versions of this release.' }}</span>
        </div>
    </div>
</div>

<!-- alpha/beta versions -->
<div class="row">
    <div class="col-md-12">
        <h3>Alpha/Beta Versions</h3>

        <app-ihtsdo-release-version-modal *ngFor="let releaseVersion of releaseVersions.alphabeta" [releaseVersion]="releaseVersion"></app-ihtsdo-release-version-modal>

        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && releaseVersions.alphabeta.length == 0">
            <i class="alert-warning fa fa-exclamation-circle"></i> &nbsp;
            <span>There are currently no alpha/beta versions of this release.</span>
        </div>
    </div>
</div>

<!-- offline versions -->
<div class="row">
    <div class="col-md-12">
        <h3>Offline Versions</h3>

        <app-ihtsdo-release-version-modal *ngFor="let releaseVersion of releaseVersions.offline" [releaseVersion]="releaseVersion"></app-ihtsdo-release-version-modal>

        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && releaseVersions.offline.length == 0">
            <i class="alert-warning fa-exclamation-circle"></i> &nbsp;
            <span>There are currently no offline versions of this release.</span>
        </div>
    </div>
</div>
