<!-- back to releases button -->
<div class="row">
    <div class="col-md-12">
        <div class="page-header header">
            <span class="back language-option"><a (click)="goToViewPackages()" style="color: #53baf2;"><i class="fa fa-angle-double-left">&nbsp;</i>{{'views.ihtsdoReleases.backToReleases' | translate}}</a></span>
          
          </div>
        
            
    </div>
</div>

<!-- release package details -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
            <h2>{{releasePackage.name}} 
                <button class="btn btn-sm btn-link" (click)="viewLicense(releasePackage.member.key)">
                    <span>{{'global.word.viewlicense' | translate | compareText : 'View License'}}</span>
                </button>
            </h2>
            <div [innerHTML]="releasePackage.description"></div>
        </div>
    </div>
</div>

<!-- public versions -->
<div class="row">
    <div class="col-md-12">
        <h3>{{'views.ihtsdoReleases.publicVersions' | translate | compareText : 'Public Versions'}}</h3>

        <div class="panel panel-default release-package package" *ngFor="let releaseVersion of releaseVersions.online">
            <div class="panel-heading status">
              <div class="status">
                <h3 class="panel-title panel-titles" >{{ releaseVersion?.name }}</h3>
              </div>
            </div>
            <div class="panel-body">
                <p [innerHTML]="releaseVersion.description"></p>
                <span>
                    <b><span>{{'global.word.publishedOn' | translate | compareText : 'Published On'}}</span>:</b> 
                    {{releaseVersion?.publishedAt | date: 'yyyy-MM-dd'}}
                </span>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <span class="version-title"><b><span>{{'global.word.file' | translate | compareText: 'File'}}</span>:</b></span>
                    </div>
                    <div class="col-md-10">
                        <div *ngFor="let releaseFile of releaseVersion.releaseFiles">
                            <i class="fa fa-file"></i>
                            <button class="btn btn-link disabled no-padding" 
                                    [attr.disabled]="!releaseFile.clientDownloadUrl ? true : null"
                                    *ngIf="!releaseFile.clientDownloadUrl" 
                                    [innerHTML]="releaseFile.label">
                            </button>
                            <a *ngIf="releaseFile.clientDownloadUrl" 
                               [href]="releaseFile.clientDownloadUrl" 
                               (click)="downloadReleaseFile(releaseFile.clientDownloadUrl)"
                               target="_blank" 
                               [innerHTML]="releaseFile.label">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && releaseVersions.online.length == 0">
            <i class="fa fa-exclamation-circle"></i> 
            <span>{{'views.ihtsdoReleases.noOnlineVersions' |translate | compareText : 'There are currently no online versions of this release.'}}</span>
        </div>
    </div>
</div>

<!-- alpha/beta versions -->
<div class="row">
    <div class="col-md-12">
        <h3>Alpha/Beta Versions</h3>

        <div class="panel panel-default release-package package" *ngFor="let releaseVersion of releaseVersions.alphabeta">
            <div class="panel-heading status">
                <span class="alert-danger-flag pull-right "  >Alpha/Beta</span>
                <div class="status">
                    <h3 class="panel-title panel-titles">{{releaseVersion.name}}</h3>
                </div>
            </div>
            <div class="panel-body">
                <p [innerHTML]="releaseVersion.description"></p>
                <span>
                    <b><span>{{'global.word.publishedOn' | translate | compareText :'Published On'}}</span>:</b> 
                    {{releaseVersion.publishedAt | date: 'yyyy-MM-dd'}}
                </span>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <span class="version-title"><b><span>{{'global.word.file' | translate | compareText : 'File'}}</span> :</b></span>
                    </div>
                    <div class="col-md-10">
                        <div *ngFor="let releaseFile of releaseVersion.releaseFiles">
                            <i class="fa fa-file"></i>
                            <button class="btn btn-link disabled no-padding" 
                                    [attr.disabled]="!releaseFile.clientDownloadUrl ? true : null"
                                    *ngIf="!releaseFile.clientDownloadUrl" 
                                    [innerHTML]="releaseFile.label">
                            </button>
                            <a *ngIf="releaseFile.clientDownloadUrl" 
                               [href]="releaseFile.clientDownloadUrl" 
                               target="_blank" 
                               [innerHTML]="releaseFile.label">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && releaseVersions.alphabeta.length == 0">
            <i class="fa fa-exclamation-circle"></i> 
            <span>There are currently no alpha/beta versions of this release.</span>
        </div>
    </div>
</div>

<!-- offline versions -->
<div class="row">
    <div class="col-md-12">
        <h3 >Offline Versions</h3>

        <div class="panel panel-default release-package package" *ngFor="let releaseVersion of releaseVersions.offline">
            <div class="panel-heading status">
                <span class="alert-danger-flag pull-right" >Offline</span>
                <div class="status">
                    <h3 class="panel-title panel-titles">{{releaseVersion.name}}</h3>
                </div>
            </div>
            <div class="panel-body">
                <p [innerHTML]="releaseVersion.description"></p>
                <span>
                    <b><span>{{'global.word.publishedOn' | translate | compareText :'Published On'}}</span>:</b> 
                    {{releaseVersion.publishedAt | date: 'yyyy-MM-dd'}}
                </span>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">
                        <span class="version-title"><b> <span>{{'global.word.file' | translate | compareText : 'File'}}</span>  :</b></span>
                    </div>
                    <div class="col-md-10">
                        <div *ngFor="let releaseFile of releaseVersion.releaseFiles">
                            <i class="fa fa-file"></i>
                            <button class="btn btn-link disabled no-padding" 
                                    [attr.disabled]="!releaseFile.clientDownloadUrl ? true : null"
                                    *ngIf="!releaseFile.clientDownloadUrl" 
                                    [innerHTML]="releaseFile.label">
                            </button>
                            <a *ngIf="releaseFile.clientDownloadUrl" 
                               [href]="releaseFile.clientDownloadUrl" 
                               target="_blank" 
                               [innerHTML]="releaseFile.label">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="isLoading" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
        <div class="alert alert-warning" *ngIf="!isLoading && releaseVersions.offline.length == 0">
            <i class="fa fa-exclamation-circle"></i> 
            <span>There are currently no offline versions of this release.</span>
        </div>
    </div>
</div>