.table-responsive {
    max-height: 600px; /* Adjust based on your needs */
    overflow-y: auto;
  }

h2{
    padding-top: 30px;
    font-size: 3.4rem;
    font-weight: 400;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}
table {
    max-width: 100%;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #00a7e1;
}

.btn-primary {
  color: #00a7e1;
  background-color: #fcfafa;
  border-color: #1ad5fa;
  border-top-left-radius: 10px;
  --bs-btn-hover-bg: #0b5ed7;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid #0dcaf0;
  // white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}