
.table-responsive {
  max-height: 600px; /* Adjust based on your needs */
  overflow-y: auto;
}

h2{
  padding-top: 30px;
  font-size: 3.4rem;
  font-weight: 400;
}
.page-header {
padding-bottom: 9px;
margin: 40px 0 20px;
border-bottom: 1px solid #eeeeee;
}

.d-flex {
display: flex;
}

.justify-content-between {
justify-content: space-between;
}

.align-items-center {
align-items: center;
}

.title-colors th a,
.title-colors th a:visited {
    color: #40ACD6; /* Blue color for sortable fields */
    text-decoration: none;
    cursor: pointer;
}

.title-colors th span {
    color: #40ACD6; 
}

.title-colors th a:hover {
    color: #40ACD6; /* Darker blue on hover for sortable fields */
}

.title-colors th i {
    margin-left: 4px; /* Spacing for icons */
}

/* Ensures the active sorting state remains blue */
.title-colors th a[ng-reflect-router-link-active="active"] {
    color: #40ACD6;
}
.language-option {
    cursor: pointer;
  }
  
  /* Optional: Add hover styles for better visibility */
  .language-option:hover {
    background-color: #f8f9fa; /* Light background on hover */
  }
  
