<div class="container">
    <!-- Approval States -->
    <div *ngIf="extensionForm.approvalState === 'CHANGE_REQUESTED'" class="alert alert-warning" role="alert">
      <strong>{{'views.extensionApplication.change'|translate|compareText:'Extension Registration Needs Change'}}</strong>
      <p>{{'views.extensionApplication.change.detail'|translate|compareText:'Your extension registration needs to be updated before it can be processed. Please check your email for the necessary changes.'}}</p>
    </div>
  
    <div *ngIf="isApplicationRejected" class="alert alert-danger" role="alert">
      <strong>{{'views.extensionApplication.rejected'|translate|compareText:'Extension Registration Rejected'}}</strong>
      <p>{{'views.extensionApplication.rejected.detail'|translate|compareText:'Your extension registration needs to be updated before it can be processed. Please check your email for the necessary changes.'}}</p>
    </div>
  
    <div *ngIf="isApplicationApproved" class="alert alert-success" role="alert">
      <strong>{{'views.extensionApplication.approved'|translate|compareText:'Extension Registration Approved'}}</strong>
      <p>{{'views.extensionApplication.approved.detail'|translate|compareText:'Your application has been approved.'}}</p>
    </div>
  
    <!-- Extension Application Form -->
    <form [formGroup]="extensionApplicationForm" (ngSubmit)="submit()" novalidate>
      <div class="panel panel-default applicant">
        <div class="panel-heading">
          <h4>{{ 'global.member.'+extensionForm.member?.key|translate }} {{'views.extensionApplication.form.title'|translate|compareText:'Extension Application Form'}}</h4>
        </div>
        <div class="panel-body">
          <h4 class="content">{{'views.extensionApplication.form.why'|translate|compareText:'Please describe why you would like access to this extension.'}}</h4>
          <div class="form-group">
            <label class="font" for="reason">
            <b >{{'views.extensionApplication.form.purpose'|translate|compareText:'Purpose of Use'}}<span class="text-danger">*</span></b></label>
            <textarea id="reason" class="form-control" formControlName="reason" rows="10" cols="135" style="resize: both;"></textarea>
            <div *ngIf="extensionApplicationForm.get('reason')?.touched && extensionApplicationForm.get('reason')?.invalid" class="help-block">
              <small *ngIf="extensionApplicationForm.get('reason')?.hasError('required')">{{'form.requiredField'|translate|compareText:'Required field.'}}</small>
              <small *ngIf="extensionApplicationForm.get('reason')?.hasError('minlength')">{{'views.extensionApplication.form.error'|translate|compareText:'Reason needs to be longer.'}}</small>
            </div>
          </div>
        </div>
      </div>
  
      <!-- License Agreement -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="content">{{ 'global.member.'+extensionForm.member?.key|translate }} {{'views.extensionApplication.agreement'|translate|compareText:'Extension Agreement'}}</h4>
        </div>
        <div class="panel-body">
          <p>
            <button class="blue-button" (click)="viewLicense(extensionForm.member?.key)">{{'global.member.'+ extensionForm.member?.key|translate }} {{'views.extensionApplication.license'|translate|compareText:'Extension License'}}</button>
          </p>
          <div class="form-group">
            <label >
              <input type="checkbox" formControlName="snoMedTC" style="vertical-align: middle;    margin: -1px 0px 0px"/>&nbsp;
              <b style="vertical-align: middle;">{{'register.affiliateRegistration.license.confirm'|translate|compareText:'I agree to the license'}}</b> 
            </label>
            <div *ngIf="extensionApplicationForm.get('snoMedTC')?.touched && extensionApplicationForm.get('snoMedTC')?.invalid" class="help-block">
              <small><b>{{'register.affiliateRegistration.license.error' | translate}}</b></small>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Form Buttons -->
      <div class="panel-footer" *ngIf="!readOnly">
        <button type="button" class="remove-button" (click)="cancelApplication()">{{'global.word.cancel'|translate|compareText:'Cancel'}}</button>
        <button type="submit" class="add-button">{{'global.word.apply'|translate|compareText:'Apply'}}</button>      
      </div>
    </form>
  </div>
  