<nav class="navbar sticky-top navbar-dark bg-dark p-2 pe-2">
    <a class="logo" routerLink="/">
        <img class="logo me-2 p-0" src="/assets/small_logo.png" alt="snomed-logo">
        <span class="title text-ghost-grey">SNOMED CT Member Licensing and Distribution Service</span>
    </a>

    <div class="nav-right float-end">
        <span class="px-2 text-ghost-grey">John Smith</span>
        <ul class="dropdown-nav p-0 m-2 d-inline-block">
            <li class="nav-item dropdown">
                <a class="nav-link rounded-circle text-end" id="userDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="userDropdown">
                    <a class="dropdown-item p-3">Logout</a>
                </div>
            </li>
        </ul>

        <ul class="dropdown-nav p-0 m-2 d-inline-block">
            <li class="nav-item dropdown">
                <a class="nav-link rounded text-end" id="infoDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="infoDropdown">
                    <a class="dropdown-item p-3" href="https://www.iubenda.com/privacy-policy/46600952" target="_blank">SNOMED International Privacy Policy</a>
                    <a class="dropdown-item p-3" href="https://www.snomed.org/software-tools" target="_blank">SNOMED International Tooling</a>
                    <a class="dropdown-item p-3" href="https://www.snomed.org/" target="_blank">SNOMED International</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
