@import 'src/variables.scss';

nav {
    a.logo {
        height: 4rem;
        font-size: 1.6rem;

        &:hover {
            text-decoration: none;
        }

        span.title {
            font-weight: 300;
            color: $alto-white;
            letter-spacing: 1.5px;
            line-height: 4rem;
            vertical-align: top;
            cursor: pointer;
        }

        img.logo {
            vertical-align: initial;
            height: 4rem;
        }
    }

    div.banner {
        position: absolute;
        top: 1rem;
        left: -3rem;
        transform: rotate(-45deg);
        line-height: 1rem;
        opacity: 0.8;
        font-size: 1.4rem;
    }

    div.local::before {
        content: 'LOC';
        padding: 0 3rem;
        background-color: $river-bed;
        border: 1px solid $sea-buckthorn;
    }

    div.dev::before {
        content: 'DEV';
        padding: 0 3rem;
        background-color: $mandy;
        border: 1px solid $sea-buckthorn;
    }

    div.uat::before {
        content: 'UAT';
        padding: 0 3rem;
        background-color: $cerulean;
        border: 1px solid $sea-buckthorn;
    }

    div.training::before {
        content: 'TRN';
        padding: 0 3rem;
        background-color: $fruit-salad;
        border: 1px solid $sea-buckthorn;
    }

    div.nav-right {
        span {
            font-size: 1.4rem;
            color: $alto-white;
        }

        ul.dropdown-nav {
            list-style-type: none;
            max-height: 3rem;

            li {
                display: inline-block;

                a {
                    height: 3rem;
                    width: 3rem;
                    font-size: 1.4rem;
                    color: $white;
                    background-color: $bootstrap-dark;
                    line-height: 2rem;
                    font-weight: 300;
                    letter-spacing: 0.2rem;
                    cursor: pointer;
                    padding-top: 5px;
                    padding-right: 6.5px;
                }

                div.dropdown-menu {
                    background-color: $bootstrap-dark;
                    z-index: auto;
                    height: auto;
                    overflow-y: scroll;
                    max-height: 80vh;

                    &.show {
                        display: block;
                    }

                    a.dropdown-item {
                        z-index: auto;
                        width: auto;
                        height: auto;
                        font-size: 1.4rem;
                        color: $white;
                        background-color: $bootstrap-dark;
                        line-height: 2rem;
                        font-weight: 300;
                        letter-spacing: 0.2rem;
                        cursor: pointer;

                        &:hover {
                            background-color: color.adjust($bootstrap-dark, $lightness: -10%);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
