footer {
    background-color: #eeeeee;
    color: #222222;
    height: 60px;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}

footer a {
    color: #222222;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    color: #2481a6;
    text-decoration: underline;
    font-size: 14px;
}

.row{
    padding-left:30.5rem;
}

.container{
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
}
