<footer>
  <div class="container">
  <div class="row">
    <div class="d-flex justify-content-between w-100">
      <p id="copyright" class="m-0" style="color: #222222;">{{ copyright }}</p>
      <div>
        <a class="btn btn-link" rel="noopener" href="http://www.iubenda.com/privacy-policy/104809" target="privacy_policy_tab" title="Privacy Policy">
          {{ 'views.footer.pp' | translate }}
        </a>
        <a class="btn btn-link" target="_blank" rel="noopener" href="https://confluence.ihtsdotools.org/display/MLDSDOC/MLDS+Terms+of+Service">
          {{ 'views.footer.tos' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
</footer>