<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
          <p id="copyright" class="float-start" style="color: #222222;">{{ copyright }}</p>
          <a class="btn btn-link float-end" target="_blank" rel="noopener" href="https://confluence.ihtsdotools.org/display/MLDSDOC/MLDS+Terms+of+Service">
            {{ 'views.footer.tos' | translate }}
          </a>
          <a class="btn btn-link float-end" rel="noopener" href="http://www.iubenda.com/privacy-policy/104809" target="privacy_policy_tab" title="Privacy Policy">
            {{ 'views.footer.pp' | translate }}
          </a>
        </div>
      </div>
    </div>
 </footer>
  