<div class="row">
	<div class="col-md-12">
		<div class="page-header">
      <span class="back language-option"><a (click)="goBackToPrevious()"><i class="fa fa-angle-double-left"></i>  Back to Review Usage Reports</a></span>
      <h2>Review Usage Report</h2>
      <br>
    </div>
    <ngb-alert *ngFor="let alert of alerts" [type]="alert.type" (close)="closeAlert(alert)">
      {{ alert.msg }}
    </ngb-alert>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          License Usage
          <span class="float-end">
            <span class="state">{{ 'usageReport.state.'+usageReport?.state | translate }}</span>
            {{ usageReport?.startDate | date: 'yyyy-MM' }} - {{ usageReport?.endDate | date: 'yyyy-MM' }}
          </span>
        </h4>
      </div>

      <div class="panel-body" [ngClass]="{'panel-collapse collapse in': !collapsePanel.usage}">
        <ul class="list-group">
          <li class="list-group-item">
            <b>License Type: </b><td>{{ usageReport.type ? ('affiliate.type.' + usageReport.type | translate) : '' }}</td>
          </li>
          <li class="list-group-item">
            <b>Implementation Status: </b>
            <span>{{ 'affiliate.implementationStatus.'+usageReport?.context?.implementationStatus |translate  }}</span>
          </li>
          <li class="list-group-item">
            <label><b>Current Usage:</b></label>
            <p>{{ usageReport?.context?.currentUsage }}</p>
          </li>
          <li class="list-group-item">
            <label><b>Planned Usage:</b></label>
            <p>{{ usageReport?.context?.plannedUsage }}</p>
          </li>
          <li class="list-group-item">
            <label><b>Purpose:</b></label>
            <p>{{ usageReport?.context?.purpose }}</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><b>Sublicensed Institutions</b></h4>
      </div>

      <div class="panel-body">
        <div *ngFor="let countryUsage of usageByCountryList" class="country-listing">
          <div class="row">
            <div class="country-heading">
              <div class="col-xs-8 col-sm-6 col-md-4 col-lg-6">
                <h3 class="country-title">{{ countryUsage.country.commonName }}</h3>
              </div>
            </div>
          </div>

          <div class="country-section">
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <h4><b>Hospital(s)/Institution(s)</b></h4>
              </div>
            </div>
          </div>

          <div class="row">
            <table class="table table-striped"aria-label="review-usage-report-admin">
              <tr>
                <th class="text-left col-md-3"><b>Name</b></th>
                <th class="text-left col-md-2"><b>Started to Use</b></th>
                <th class="text-left col-md-2"><b>Ceased Use</b></th>
                <th class="text-left col-md-5"><b>Note</b></th>
              </tr>
              <tr *ngFor="let institution of countryUsage.entries">
                <td class="col-md-3">{{ institution.name }}</td>
                <td class="col-md-2">{{ institution.startDate | date: 'yyyy-MM-dd' }}</td>
                <td class="col-md-2">{{ institution.endDate | date: 'yyyy-MM-dd' }}</td>
                <td class="col-md-5">{{ institution.note }}</td>
              </tr>
            </table>
          </div>

          <div class="country-section">
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <h4><b>Practice(s)</b></h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="country-footer">
              <div class="col-xs-12">
                <p><b>Practices: </b><span class="label label-default">{{ countryUsage.count.snomedPractices | number }}</span></p>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="countryUsage.count.notes">
            <div class="country-footer">
              <div class="col-xs-12">
                <label><b>Notes: </b></label>
                <p>{{ countryUsage.count.notes }}</p>
              </div>
            </div>
          </div>

          <div class="country-section">
            <div class="row">
              <div class="col-xs-12">
                <hr>
                <h4><b>Data Analysis</b></h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="country-footer">
              <div class="col-xs-12">
                <p><b>Hospitals providing staff to practices:</b> &nbsp;<span class="label label-default">{{ countryUsage.count.hospitalsStaffingPractices | number }}</span></p>
                <p><b>Data Creation Systems: Independent practices:</b> &nbsp;<span class="label label-default">{{ countryUsage.count.dataCreationPracticesNotPartOfHospital | number }}</span> &nbsp;<b>Hospitals/Institutions:</b> &nbsp;<span class="label label-default">{{ countryUsage.count.nonPracticeDataCreationSystems | number }}</span></p>
                <p><b>Data Analysis Systems: Systems:</b> &nbsp;<span class="label label-default">{{ countryUsage.count.deployedDataAnalysisSystems | number }}</span>&nbsp; <b>Data:</b> &nbsp;<span class="label label-default">{{ countryUsage.count.databasesPerDeployment | number }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><b>Other Activities</b></h4>
      </div>
      <div class="panel-body">
        <p>{{ usageReport?.context?.otherActivities || 'N/A' }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4" style="width: 25.333333%;">
    <div>
      <button *ngIf="usageReportsUtils.isSubmitted(usageReport)" class="btn btn-success btn-block" (click)="updateUsageReport('PENDING_INVOICE')">
        Mark as Pending Invoice
      </button>
      <button *ngIf="usageReportsUtils.isPendingInvoice(usageReport)" class="btn btn-success btn-block" (click)="updateUsageReport('INVOICE_SENT')">
        Mark as Invoice Sent
      </button>
      <button *ngIf="usageReportsUtils.isInvoiceSent(usageReport)" class="btn btn-success btn-block" (click)="updateUsageReport('PAID')">
        Mark as Paid
      </button>
      <button class="btn btn-warning btn-block" (click)="retractUsageReport()">
        Retract Usage Report 
      </button>
    </div>

    <app-affiliate-details-summary  [affiliate]="affiliate" [isEditable]="false"></app-affiliate-details-summary>
    
  </div>
</div>