<app-modal
  [title]="'views.affiliateSummary.deleteAffiliate' | translate | compareText :'Delete Affiliate'"
  [submitText]="'views.affiliateSummary.deleteAffiliate' | translate | compareText :'Delete Affiliate'"
  [cancelText]="'global.word.cancel' | translate | compareText : 'Cancel'"
  [alerts]="alerts"
  [isSubmitting]="submitting"
  [buttonType]="'delete'"
  (onSubmit)="deleteAffiliate()"
  (onCancel)="cancel()">

  <ng-container modal-body>
    <div>
      <p>{{ 'views.affiliateSummary.deleteAffiliateModal.sure' | translate | compareText : 'Are you sure you want to delete the Affiliate?' }}</p>
      <div>
        <label for="affiliate">Affiliate No: </label>&nbsp;
        <span>{{affiliate.affiliateId}}</span>
      </div>
      <div>
        <label for="creator">User: </label>&nbsp;
        <span>{{affiliate.creator}}</span>
      </div>
      <div>
        <label for="home-member">Member: </label>&nbsp;
        <span>{{ 'global.member.' + affiliate.homeMember.key | translate }}</span>
      </div>
      <p class="help-block">
        {{ 'views.affiliateSummary.deleteAffiliateModal.explanation' | translate | compareText : 'Deleting an Affiliate will also delete their Applications and Usage Information. The user will no longer be able to login to the account.' }}
      </p>
    </div>
  </ng-container>
</app-modal>
