.btn-success {
    color: #3cb878 !important;
    background-color: #ffffff !important;
    border: 1px solid !important;
    border-color: #3cb878 !important;
    border-top-left-radius: 10px !important;
}
 
.btn-success:hover,
.btn-success:focus {
    color: #ffffff !important;
    background-color: #3cb878 !important;
}
 
.btn-link {
    color: #40ACD6 !important;
    font-weight: normal !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    text-decoration: none !important;
}
 
.btn-link:hover {
    color: #40ACD6 !important;
    font-weight: normal !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    text-decoration: underline !important;
}
.btn-danger {
    color: #f26c4f !important;
    background-color: #fde3dd !important;
    border-color: #f26c4f !important;
    border-top-left-radius: 10px !important;
    border: 2px solid !important;
}
 
.btn-danger:hover, .btn-danger:focus {
    color: #ffffff !important;
    background-color: #f26c4f !important;
}
.blinking-cursor {
    border: 1px solid #ccc; /* Adjust border as needed */
    padding: 0.5rem; /* Adjust padding as needed */
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: #007bff; } /* Adjust color as needed */
    100% { border-color: transparent; }
  }
  /* Add these styles in your styles.css or component-specific CSS file */

.input-group.datepicker .form-control {
    height: 45px; /* Adjust the height as needed */
    font-size: 16px; /* Increase font size for better visibility */
}

.input-group.datepicker .input-group-text {
    height: 45px; /* Match the height of the input field */
    font-size: 16px; /* Increase font size for the button */
}

.modal-title{
    margin-top: 0px;
}