@use 'sass:color';
@use 'variables' as *;
@use 'toastr' as *;

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.0rem;
    font-weight: 300;
}

h2 {
    font-size: 2.4rem;
    font-weight: 300;
}



h4 {
    font-size: 1.6rem;
    font-weight: 300;
}

h5 {
    font-size: 1.4rem;
    font-weight: 300;
}

h6 {
    font-size: 1.2rem;
    font-weight: 300;
}

p {
    font-family: "robotoregular", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

a {
    font-size: 1.4rem;
    font-weight: 300;
    color: $cerulean;

    &:hover {
        color: color.adjust($cerulean, $lightness: -20%);
    }
}

b {
    font-weight: bold;
}

button {
    &.btn {
        font-size: 1.4rem;
        font-weight: 300;
        // letter-spacing: 1.5px;
        border: none;
        color: $white;

        &:hover {
            color: $white;
        }
    }

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }
}

input, textarea {
    font-size: 1.4rem;
    font-weight: 300;
    // letter-spacing: 0.5px;
    resize: none;

    &:focus, &:active {
        outline: none !important;
    }
}

select {
    font-size: 1.4rem;
    font-weight: 300;
    // letter-spacing: 0.5px;

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }
}

.form-control {
    font-size: 1.4rem;
}

.footer-margin {
    margin-bottom: 4rem;
}

ngb-typeahead-window.dropdown-menu button {
    max-width: 30vw;
    font-size: 1.2rem;
    overflow-y: hidden;

    button.dropdown-item {
        font-weight: 300;
    }
}


.debug {
	outline: 1px solid red;	
}

.no-padding {
    padding: 0;
}

.panel-heading p {
	color: #333;
	margin-top: 10px;
}

.list-group-item-light {
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #FFF;
}

.selected {
	font-weight: bold;
}

.branding-showcase {
	border: 4px solid #E5E5E5;
}
.branding-showcase .container {
	width: 100%;	
}

.dropdown-menu .btn-link {
	color: inherit;
}

.dropdown-menu .btn-link:hover {
	text-decoration: none;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

/*Overrides for Bootstrap accordion for viewReleases page. Standard accordion styles have been used for styling elsewhere.
Actual accordion wrapped in id="accordion-override" div. */
#accordion-override .panel-heading {
        margin-left:10px;
        padding:5px;
    }
#accordion-override .inner-heading{
        margin-left:0px;
        padding:5px;
        padding-left:0px;
    }
#accordion-override .panel{
    border: 1px solid #eee;
}
#accordion-override .panel-body{
    border: none;
    border-top:1px solid #eee;
}

#accordion-override .glyphicon-chevron-right{
   margin-right:10px;
   margin-top:2px; 
}
#accordion-override .glyphicon-chevron-down{
   margin-right:10px;
   margin-top:2px; 
}
/*Overrides end*/

.csv-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid #00a7e1;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #00a7e1;
    background-color: #ffffff;
    border-color: #00a7e1;
    border-top-left-radius: 10px;
    float: right !important;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
  }
  
  .csv-button:hover {
    background-color: #00a7e1;
    color: #ffffff;
  }
  .review-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.3;
    font-weight: normal;
    color: #40ACD6;
    background-color: #ffffff;
    border: 2px solid #40ACD6;
    border-top-left-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .review-button i {
    margin-right: 8px;
    font-size: 16px;
  }
  
  .review-button:hover {
    background-color: #40ACD6;
    color: #ffffff;
    text-decoration: none;
  }
  
  .review-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #40ACD6;
  }
  
  .review-button:active {
    background-color: #40ACD6;
    border-color: #40ACD6;
  }

  .title-colors th a,
.title-colors th a:visited {
    color: #40ACD6; /* Blue color for sortable fields */
    text-decoration: none;
    cursor: pointer;
}

.title-colors th span {
    color: black; /* Black color for non-sortable fields */
}

.title-colors th a:hover {
    color: #007bb8; /* Darker blue on hover for sortable fields */
}

.title-colors th i {
    margin-left: 4px; /* Spacing for icons */
}

/* Ensures the active sorting state remains blue */
.title-colors th a[ng-reflect-router-link-active="active"] {
    color: #40ACD6;
}

.edit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid  #3cb878;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #3cb878;
    background-color: #ffffff;
    border-color:  #3cb878;
    border-top-left-radius: 10px;
    float: right !important;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
  }
  
  .edit-button:hover {
    background-color:  #3cb878;
    color: #ffffff;
  } 
  
  .loader-center{
    padding: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .language-option {
    cursor: pointer;
  }
  
  .ql-editor strong{
    font-weight:bold;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #000000;
}
body {
    font-family: "robotoregular", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}
h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Oxygen", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #000000;
}
h1 {
    font-size: 36px;
    margin: 0.67em 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    display: block;
    font-size: 36px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    unicode-bidi: isolate;
}
b, strong {
    font-weight: bold;
}
h2, .h2 {
    font-size: 30px;
}
h2, .h2 {
    margin-top: 74px;
    margin-bottom: 10px;
}
h1, .h1, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h3, .h3 {
    font-size: 24px;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
[ng-click]:not([modal-window]) {
    cursor: pointer;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 4px solid #eeeeee;
    padding-right: 5px;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    background-color: #ffffff;
    font-weight: 400;
}

label {
    font-weight: bold;
}

.row {
    padding-left: 40px;
    padding-right: 40px;
}

table a {
    font-weight: 400;
}