<div class="row page-header">
  <h2><b>List of Release File Download Counts Per Versions</b></h2>

  <div class="row margin">
    <div class="col-md-5">
      <h4>{{'audits.filter.title' | translate |compareText: 'Filter per date'}}</h4>
    </div>
  </div>

  <div class="row margin">


    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon">{{'audits.filter.from' | translate | compareText: 'from'}}</span>
        <input type="date" class="input-sm form-control" name="fromDate" [(ngModel)]="fromDate" required />
        <span class="input-group-addon">{{'audits.filter.to' | translate | compareText: 'to'}}</span>
        <input type="date" class="input-sm form-control" name="toDate" [(ngModel)]="toDate" (change)="loadUsers(fromDate, toDate)" required />
      </div>
    </div>
    

    <div class="col-md-4">
      <div class="input-group">
        <div class="dropdown" style="display: inline-block; width: 100%;">
          <button class="review-button dropdown-toggle " type="button" id="omitUsersDropdown" [disabled]="userList.length === 0" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()">
            Exclude Users
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-scrollable" [ngClass]="{ 'show': dropdownOpen }" aria-labelledby="omitUsersDropdown" style="width: 100%;">
            <div *ngFor="let user of userList" class="custom-select-item language-option" (click)="toggleUserSelection(user)">
              <input type="checkbox" [checked]="isUserSelected(user)"> {{ user }}
            </div>
          </div>
        </div>
      </div>
    </div>
  

    <div class="col-md-4">
      <button class="review-button" style="margin-left: 10px; margin-top: 5px;" (click)="loadReleaseFileDownloadCounts()">Get Download Count</button>
    </div>
  </div>
 

  <div class="row">
    <div class="col-md-12">
      <div class="input-group" *ngIf="submitting">
        <p class="help-block">
          Loading..
          <i class="fa fa-spinner fa-spin"></i>
        </p>
      </div>
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Release Package</th>
              <th>Release Version</th>
              <th>Release File Name</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let release of releaseFileDownloadCounts">
              <td>{{ release.releasePackageName }}</td>
              <td>{{ release.releaseVersionName }}</td>
              <td>{{ release.releaseFileName }}</td>
              <td>{{ release.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>