<div class="row page-header">
  <h2><b>List of Release File Download Counts Per Versions</b></h2>

  <div class="row margin">
    <div class="col-md-5">
      <h4>{{'audits.filter.title' | translate |compareText: 'Filter per date'}}</h4>
    </div>
  </div>

  <div class="row margin">


    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon">{{'audits.filter.from' | translate | compareText: 'from'}}</span>
        <input type="date" class="input-sm form-control" name="fromDate" [(ngModel)]="fromDate"
          (change)="loadReleaseFileDownloadCounts()" required />
        <span class="input-group-addon">{{'audits.filter.to' | translate | compareText: 'to'}}</span>
        <input type="date" class="input-sm form-control" name="toDate" [(ngModel)]="toDate"
          (change)="loadReleaseFileDownloadCounts()" required />
      </div>
    </div>
    

    <div class="col-md-4">
      <div class="input-group">
        <label class="exclude-checkbox">
          <input type="checkbox" [(ngModel)]="ExcludeAdminAndStaff" (change)="loadReleaseFileDownloadCounts()" /> Exclude
          SNOMED International users
        </label>
      </div>
    </div>
    
    <div class="col-md-4">
      <button class="review-button" style="margin-left: 10rem; margin-top: 5px;"
        (click)="loadReleaseFileDownloadCountsCSV()" [disabled]="releaseFileDownloadCounts?.length === 0 || downloading">
        <span *ngIf="!downloading"><i class="fa fa-download"></i></span>
        <span *ngIf="downloading"><i class="fa fa-spinner fa-spin"></i></span>
        Export Details as CSV
      </button>
    </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr style="white-space: nowrap;">
              <th class="sort-title" (click)="toggleField('releasePackageName')">
                Release Package
                <span *ngIf="orderByField !== 'releasePackageName'"><i class="fa fa-sort"></i></span>
                <span *ngIf="orderByField === 'releasePackageName'">
                  <span *ngIf="!reverseSort"><i class="fa fa-sort-asc"></i></span>
                  <span *ngIf="reverseSort"><i class="fa fa-sort-desc"></i></span>
                </span>
              </th>
              <th class="sort-title" (click)="toggleField('releaseVersionName')">
                Release Version
                <span *ngIf="orderByField !== 'releaseVersionName'"><i class="fa fa-sort"></i></span>
                <span *ngIf="orderByField === 'releaseVersionName'">
                  <span *ngIf="!reverseSort"><i class="fa fa-sort-asc"></i></span>
                  <span *ngIf="reverseSort"><i class="fa fa-sort-desc"></i></span>
                </span>
              </th>
              <th class="sort-title" (click)="toggleField('releaseFileName')">
                Release File Name
                <span *ngIf="orderByField !== 'releaseFileName'"><i class="fa fa-sort"></i></span>
                <span *ngIf="orderByField === 'releaseFileName'">
                  <span *ngIf="!reverseSort"><i class="fa fa-sort-asc"></i></span>
                  <span *ngIf="reverseSort"><i class="fa fa-sort-desc"></i></span>
                </span>
              </th>
              <th class="sort-title" (click)="toggleField('count')">
                Count
                <span *ngIf="orderByField !== 'count'"><i class="fa fa-sort"></i></span>
                <span *ngIf="orderByField === 'count'">
                  <span *ngIf="!reverseSort"><i class="fa fa-sort-asc"></i></span>
                  <span *ngIf="reverseSort"><i class="fa fa-sort-desc"></i></span>
                </span>
              </th>
            </tr>
          </thead>

          <tbody *ngIf="!submitting">
            <ng-container *ngIf="releaseFileDownloadCounts?.length === 0; else dataRows">
              <tr>
                <td colspan="4" class="text-center">No data found</td>
              </tr>
            </ng-container>
            
            <ng-template #dataRows>
              <tr *ngFor="let release of releaseFileDownloadCounts">
                <td>{{ release.releasePackageName }}</td>
                <td>{{ release.releaseVersionName }}</td>
                <td>{{ transformToPlainText(release.releaseFileName) }}</td>
                <td>{{ release.count }}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <div *ngIf="submitting" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading data...</div>
      </div>
    </div>
  </div>