<app-modal
  [title]="'Add Release File'"
  [formGroup]="formReleaseFile"
  [submitText]="'Add'"
  [cancelText]="'Cancel'"
  [isSubmitting]="submitting"
  [alerts]="alerts"
  [iconClass]="'fa fa-plus'"
  (onSubmit)="ok()"
  (onCancel)="onCancel()"
  >


  <div class="form-group">
    <label for="label">Label</label>
    <quill-editor id="label" formControlName="label" [style]="{'height': '200px','width':'780px'}"></quill-editor>
    <div *ngIf="formReleaseFile.get('label')?.invalid && submitAttempted" class="help-block">Required Field</div>
  </div>

  <div class="form-group">
    <label for="downloadUrl">Download URL</label>
    <input class="form-control" id="downloadUrl" placeholder="Enter File Download URL" formControlName="downloadUrl" type="url" />
    <div *ngIf="formReleaseFile.get('downloadUrl')?.invalid && submitAttempted" class="help-block">
      <div *ngIf="formReleaseFile.get('downloadUrl')?.errors?.['required']">Required Field</div>
      <div *ngIf="formReleaseFile.get('downloadUrl')?.errors?.['pattern']">Invalid URL</div>
    </div>
  </div>

  <div class="form-group">
    <label for="md5Hash">MD5 Hash</label>
    <input class="form-control" id="md5Hash" placeholder="Enter File MD5 Hash" formControlName="md5Hash" />
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="form-group file-size-group">
        <label for="fileSize">File Size in Octets</label>
        <input class="form-control" id="fileSize" placeholder="File Size" formControlName="fileSize" />
        <div *ngIf="formReleaseFile.get('fileSize')?.invalid && submitAttempted" class="help-block">
          <div *ngIf="formReleaseFile.get('fileSize')?.errors?.['pattern']">Only numbers are allowed. Remove commas or special characters.</div>
        </div>
      </div>
      <div class="form-group checkbox-group">
        <label for="isPrimaryCheckbox">
          <input id="isPrimaryCheckbox" type="checkbox" formControlName="primaryFile" />
          Is Primary file
        </label>
      </div>
    </div>
  </div>

</app-modal>
